[2022-03-29 14:20] liunx7594 opened #645 "open Could not find decoder for codec_id=56"
### Expected behaviour

I want to get the frame rate.

### Actual behaviour

[ERROR:0@0.002] global /build/opencv/modules/videoio/src/cap_ffmpeg_impl.hpp (1108) open Could not find decoder for codec_id=56
[ERROR:0@0.002] global /build/opencv/modules/videoio/src/cap_ffmpeg_impl.hpp (1140) open VIDEOIO/FFMPEG: Failed to initialize VideoCapture
The frame rate obtained is 0.0

### Steps to reproduce

[2022-03-29 16:01] andy201709 opened #646 "Vulnerable shared libraries might make opencv-python vulnerable. Can you help upgrade to patch versions?"
Hi, @skvark , @native-api , I'd like to report a vulnerability issue in **opencv-python_4.5.4.60**.
### Dependency Graph between Python and Shared Libraries
![image 简略](https://user-images.githubusercontent.com/101270230/160654793-a2ab2606-b4a9-4bed-9f30-5ee0febf60c7.png)
### Issue Description
As shown in the above dependency graph(here shows part of the dependency graph, which depends on vulnerab

[2022-03-29 18:44] native-api commented on #646
I believe this has already been fixed in https://github.com/opencv/opencv-python/commit/0066feb17909a5fa2295bb9c376054febc902340

[2022-03-30 07:59] asmorkalov commented on #646
Duplicate for:
- https://github.com/opencv/opencv-python/issues/625
- https://github.com/opencv/opencv-python/issues/622
- https://github.com/opencv/opencv-python/issues/614
The dependencies has been updated in OpenCV-Python 4.5.5.64 and 3.4.17.63 releases. Please update packages on your side.

[2022-03-30 13:10] asmorkalov commented on #645
@liunx7594 Please provide more details on your setup: python version, opencv version, how you install it. Also video file is required for the issue debugging.
OpenCV supports different back-ends for video decoding. Please run the reproducer with  `OPENCV_VIDEOIO_DEBUG=1` environment variable and share logs. See https://github.com/opencv/opencv/wiki/OpenCV-Debugging-Facilities for more details.

[2022-03-31 05:18] #646 closed

[2022-03-31 10:39] liunx7594 commented on #645
python3.7.3    opencv-python 4.5.5.64

I install opencv-python by pip.

This is the video file to be tested.

I can't seem to upload a large file, so I compress it in volumes

[1.zip](https://github.com/opencv/opencv-python/file
[1 (8).zip](https://github.com/opencv/opencv-python/files/8388508/1.8.zip)
[1 (9).zip](https://github.com/opencv/opencv-python/files/8388509/1.9.zip)
[1 (10).zip](https://

[2022-04-01 14:50] yoyojacky commented on #462
![image](https://user-images.githubusercontent.com/6893075/161287426-8db8921b-63cd-4247-a661-c4c0c1c770c2.png)
![image](https://user-images.githubusercontent.com/6893075/161287516-6990e75c-13c9-47be-a9af-d5702dcedf87.png)
what can i do ?  i have already installed libgtk2.0-dev and pkg-config package via `sudo apt -y install libgtk2.0-dev pkg-config` in a terminal and it  still won't work.
and  I h

[2022-04-02 10:26] mihaker331 commented on #495
tema ne zakrita

[2022-04-04 05:44] #633 closed

[2022-04-04 15:55] PBrockmann opened #647 "detectMultiScale produce a segmentation fault"
I get a  segmentation fault from a simple call to detectMultiScale.
Don't know how to analyze the problem.

I works with 4.5.0 on another machine (python 3.7.8)

[code]

atestfile.jpg and haarcascade_frontalface_default.xml are local files.

I use Python 3.9.10
and
opencv-contrib-python              4.5.5.64
opencv-python                          4.5.5.64

It is a referenced bug ??

[2022-04-05 05:57] asmorkalov commented on #647
Thanks for the bug report. Platform details (OS, hardware platform, `cv.getBuildInformation()` function output) are very useful for debugging. Could you also run the code with GDB on your side and publish stack trace here.
I tried with OpenCV 4.5.5.64 and Python 3.8 on my Ubuntu 18.04 and do not observe issues:

[code]

Output:
[code]

[2022-04-05 06:02] asmorkalov commented on #647
The same result with Ubuntu 20.04 and Python 3.9.5 from apt:
[code]

[2022-04-06 12:08] clintlombard opened #648 "Build broken with latest scikit-build release (0.14.0)"
The latest release of [`scikit-build==0.14.0`](https://github.com/scikit-build/scikit-build/releases/tag/0.14.0), is breaking the build.

When building a wheel (`pip wheel .`), the build crashes with the following error

[code]
Note that OpenCV does successfully build.

I don't think it's relevant, but the following environment variables were set:

[code]

However, this is fixed by limiting the ve

[2022-04-06 13:22] asmorkalov commented on #648
Most probably this pr fixes this issue: https://github.com/opencv/opencv-python/pull/637

[2022-04-06 15:17] ThankPan opened #649 "Failed to build wheel when installing with pip --no-binary. Got TypeError in setup.py"
### Actual behaviour

I'm trying to install with pip --no-binary following the instruction mentioned here https://stackoverflow.com/a/63839383/9982130 to solve another problem that I encountered. During the building wheel process, I got:
TypeError: _classify_installed_files() got an unexpected keyword argument 'cmake_install_dir'.

Traceback (most recent call last):
    File "/home/reinht/anaconda

[2022-04-06 16:09] ZorudaRinku commented on #100
We all know it doesn't get shipped with the pip version. Yet on Windows and MacOS, OpenCV is able to use a codec stored in the same working directory. Windows OpenCV installed via pip will look for `openh264-1.8.0-win64.dll` and MacOS looks for `libopenh264-1.8.0-osx64.4.dylib` yet on Linux if `libopenh264-1.8.0-linux64.4.so` is in the working directory we get `Encoder not found` so where is the s

[2022-04-06 16:20] ZorudaRinku opened #650 "Providing Openh264 file on Windows and MacOS works but linux doesn't"
### Expected behaviour

Writing to VideoWriter with fourcc `avc1` while providing a openh264 file should be able to use the file on Linux and output via h264

Providing openh264-1.8.0-win64.dll on Windows allows this without issue
Providing libopenh264-1.8.0-osx64.4.dylib on MacOS allows this without issue
Providing libopenh264-1.8.0-linux64.4.so on Linux provides the error below

### Actual behav

[2022-04-06 16:22] ZorudaRinku commented on #650
I do know that h264 is not packaged with OpenCV due to the license issues. But the functionality that allows this to work on Windows and Mac by providing the codec file is fine, just not on Linux.

[2022-04-06 17:30] yahyaakli opened #651 "Build wheel fails for opencv-python-headless"
I am using docker Alpine linux and I've been having issues with building wheel for opencv-python-headless. Everytime I run it I get this error:

[code]
(I am using alpine:3.14)

This seemed to me as a code issue.

Please, do you have any feedback on this issue?

Thank you.

[2022-04-06 17:56] skvark commented on #650
The code which handles these libraries during runtime is at the C++ side. It should be checked first that such code exists for Linux in the upstream. If that's the case, then it should be checked if it works when OpenCV is manually compiled without this repository. If that works, then the issue is here (audithweel or something else does something that breaks the feature).

[2022-04-06 19:38] skvark commented on #651
Duplicate of https://github.com/opencv/opencv-python/issues/648

[2022-04-06 19:40] skvark commented on #649
Duplicate of https://github.com/opencv/opencv-python/issues/648

[2022-04-06 19:50] rooseveltrp commented on #651
The PR mentioned `#648` does solve the issue. Here's my output:

[code]

[2022-04-07 05:10] asmorkalov commented on #649
https://github.com/opencv/opencv-python/pull/637

[2022-04-07 10:26] asenyaev commented on #648
https://github.com/opencv/opencv-python/pull/637 is merged into master, should fix this problem. Please, update your local opencv-python repository.

[2022-04-07 10:26] #648 closed

[2022-04-07 10:27] asenyaev commented on #649
https://github.com/opencv/opencv-python/pull/637 is merged into master, should fix this problem. Please, update your local opencv-python repository.

[2022-04-07 10:27] #649 closed

[2022-04-07 14:12] quaesitor-scientiam opened #653 "cp37 for windows is missing"
### Expected behaviour

Write here how did you expect the library to function.
PyPi download link

### Actual behaviour
PyPi missing cp37 for windows.  The cp36 is available.

Write here what went wrong.
Don't know.

### Steps to reproduce
Visit  https://pypi.org/project/opencv-python/4.5.5.64/#files
- example code  n/a
- operating system  Windows
- architecture (e.g. x86)  x64
- opencv-python ver

[2022-04-07 17:54] quaesitor-scientiam commented on #653
I was able to build a cp37  wheel using scikit-build 0.13.0 do you all want that to add to your repository?

[2022-04-08 05:12] asmorkalov commented on #653
Couple of releases ago OpenCV team switched to LIMITED_API builds for Python binaries. It means that the dll uses minimal stable Python API and is compatible with all supported python versions. So you can use the same package for Python 3.6+, no need to install specific version for 3.7.

[2022-04-08 05:13] #651 closed

[2022-04-08 05:13] asmorkalov commented on #647
@PBrockmann friendly reminder.

[2022-04-08 06:55] GeraldLJW commented on #602
thanks！！！！

[2022-04-08 08:54] PBrockmann commented on #647
Still have the problem on my Ubuntu 18.04 with
Python 3.9.10
opencv-contrib-python 4.5.5.64
opencv-python 4.5.5.64

On another machine, it workds with a conda forge install (opencv).

So still looking for a solution...

[2022-04-08 17:44] Boooke commented on #424
I installed a python 3.10 version with the corresponding python310_d.lib, and also attempted to create a python debug build, though it seemed to be a bigger hassle than it was worth. I couldn't get the installer debug libs to work even when opencv found the python310_d.lib, perhaps due to the problem described above with scikit?

Anyways, prior to this I did something like:
https://stackoverflow.c

[2022-04-09 09:14] tusharchoudhari0808 commented on #498
same issue please help sir plz solve error

[2022-04-09 09:18] Chakshu1221 commented on #498
For fixing this isssue you need to import a library

On Sat, 9 Apr, 2022, 2:44 pm Tushar Choudhari, ***@***.***>
wrote:

[2022-04-10 12:43] d-kleine opened #654 ""pip uninstall opencv-python" not unstalling package"
### Expected behaviour

`pip uninstall opencv-python` unstalling package

### Actual behaviour

`pip uninstall opencv-python` getting stuck in infinite loop, not unstalling package

### Steps to reproduce

- `pip uninstall opencv-python`
- MS Windows 10
- x64
- 4.5.5 `(4.5.5.64)`

##### Issue submission checklist

 - [x] This is not a generic OpenCV usage question (looking for help for coding, oth

[2022-04-11 07:20] asmorkalov commented on #654
The issue may be related to OS or pip. OpenCV does not implement uninstall steps. It's done by pip by default.

[2022-04-11 07:21] #653 closed

[2022-04-11 18:42] d-kleine commented on #654
Okay, then I'm closing this issue here 💹

[2022-04-11 18:42] #654 closed

[2022-04-12 06:36] asmorkalov commented on #650
The dynamic FFmpeg plugin is used on Windows only. Linux version links to FFmpeg directly.

[2022-04-12 06:38] asmorkalov commented on #647
Platform details (OS, hardware platform, cv.getBuildInformation() function output) are very useful for debugging. Could you also run the code with GDB on your side and publish stack trace here.

[2022-04-14 13:54] PBrockmann commented on #647
Here is the ouput from cv.getBuildInformation()

[code]

and the script run with gdb

[code]

[2022-04-14 14:33] PBrockmann commented on #647
This issue seems very similar: https://github.com/basler/pypylon/issues/116

[2022-04-15 12:23] KaleIsPale opened #655 "ImportError: cannot import name '_registerMatType' from 'cv2.cv2'"
### Expected behaviour

Using opencv and some other modules to make a simple screen recorder (OBS is a bit heavy and causes a lot of lag while recording, so I thought building a light-weight python screen recorder might help). I expected my module to work, ask me a filename and then open the video showing me what I am recording.

### Actual behaviour

It gives me an ImportError about some function

[2022-04-18 06:26] asmorkalov commented on #655
Could you provide `cv.getBuildInformation` output and small reproducer for the issue?

[2022-04-19 01:25] HouLingLXH opened #656 "Type hint better"
I expect type of parameters and returned value will be specific,

Now I modified the file in python_stubs to realized it, but it is a not good way.

How to do it better ?

### Expected behaviour

![image](https://user-images.githubusercontent.com/30954632/163900889-0a94b667-ae35-4390-b5f5-c3ae7500a318.png)

### Actual behaviour

![image](https://user-images.githubusercontent.com/30954632/163900756

[2022-04-21 05:25] asmorkalov commented on #656
OpenCV team is working on Python stubs with static types, but it's not there yet. I cannot give you any ETA for the feature, please follow release notes.

[2022-04-21 08:07] vocdex commented on #362
Using the latest OpenCV at them moment(4.5.5.64), but this behaviour is still happening. Any suggestions?

[2022-04-24 13:26] KaleIsPale commented on #655
Sry for the late response.
Python version: 3.8.6
I installed python from the official website (i.e. the windows installer)

[2022-04-24 18:58] staz9 opened #657 "Building wheel for opencv-python (pyproject.toml) - MacOS"
I am trying to install opencv-python but it is always stuck at: Building wheel for opencv-python (pyproject.toml). I tried installing the older versions but it happens with all of them, just stays at building wheel for an hour and nothing happens. I have done `pip install --upgrade pip setuptools wheel` as well but no success yet.

OS: MacOS Mojave
Command: `pip3 install opencv-python`
Issue:
<img

[2022-04-25 00:13] SpartanRK117 commented on #647
Hello,

Any progress ? Because I have exactly the same problem.

I work on Slackware current 15.0.

Here is the output from cv.getBuildInformation()

and my script run with gdb

Thanks for your help !!!

[2022-04-25 05:22] asmorkalov commented on #647
@SpartanRK117 It looks like your issue differs from the original one and related to OpenCL. You code tries to run OpenCL path in the code. could you provide couple of things to me to debug the issue:
- install clinfo tool and provide it's output
- do you build the library by yourself or it's installation done by pip?
- do you use threads in your app?

[2022-04-25 05:24] asmorkalov commented on #655
And how is OpenCV Installed? Self-built? Pip? Conda?

[2022-04-25 07:34] nikhilmathewfrancis98 commented on #198
![image](https://user-images.githubusercontent.com/62801039/165041564-05353b26-a5a3-4910-9782-5e1e5b77989b.png)
![image](https://user-images.githubusercontent.com/62801039/165041643-f6e9d52f-5841-4605-b8bb-d6095986fb57.png)

[2022-04-25 23:45] SpartanRK117 commented on #647
@asmorkalov Thank for your help.

- I tried clinfo but it returns _segmentation fault_.
- The library comes by default with my distro Linux. I didn't build it myself.
- No threads in my app.

Maybe I don't look the right things. I'm going to explore more but your advice will be usefully. My script Python is very basic and the error message doesn't inspire me this time...

[2022-04-26 02:38] mathieuseguin commented on #586
Sorry for the late reply @ianblitz!

My package was actually installed correctly. The issue was that I was running `python` from the `opencv-python` directly itself, which contains a cv2 directory with an empty `__init__.py` file inside.

By default python will import from the current directory. If you look at your sys.path:
[code]

When importing a module python will look inside `''` (current dir

[2022-04-26 05:07] asmorkalov commented on #647
"I tried clinfo but it returns segmentation fault." - It means that your OpenCL installation is broken. OpenCV detects OpenCL and tries to use it for acceleration, if available. There is nothing related to OpenCV and I can help with.

[2022-04-27 12:59] KaleIsPale commented on #655
Pip

[2022-04-28 17:12] staz9 commented on #657
Any update??

[2022-04-29 08:04] gaody9527 opened #658 "opencv-python 4.5.5.64, external libraries have some CVE"
libpng15-ce838cd1.so.15.13.0 has 10 CVE
[CVE-2014-9495](https://nvd.nist.gov/vuln/detail/CVE-2014-9495)
[CVE-2017-12652](https://nvd.nist.gov/vuln/detail/CVE-2017-12652)
[CVE-2015-8540](https://nvd.nist.gov/vuln/detail/CVE-2015-8540)
[CVE-2016-3751](https://nvd.nist.gov/vuln/detail/CVE-2016-3751)
[CVE-2015-0973](https://nvd.nist.gov/vuln/detail/CVE-2015-0973)
[CVE-2015-8126](https://nvd.nist.gov/v

[2022-04-29 08:50] gaody9527 opened #659 "opencv-python4.5.5.64, external library bzip2 have some CVE"
libbz2-a273e504.so.1.0.6 has 2 CVE
[CVE-2019-12900](https://nvd.nist.gov/vuln/detail/CVE-2019-12900)
[CVE-2016-3189](https://nvd.nist.gov/vuln/detail/CVE-2016-3189)

installation method:
pip install opencv-python
get opencv_python-4.5.5.64-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl

[2022-04-29 12:33] gaody9527 opened #660 "external library QT have some CVE"
### Expected behaviour

Write here how did you expect the library to function.

### Actual behaviour

Write here what went wrong.

### Steps to reproduce

- example code
- operating system
- architecture (e.g. x86)
- opencv-python version

##### Issue submission checklist

 - [ ] This is not a generic OpenCV usage question (looking for help for coding, other usage questions, homework etc.)

 - [ ]

[2022-04-29 17:20] SuperHero19999 commented on #602
Where can I found this function to remove the parameter and is it working with easyOCR ?

[2022-05-04 07:40] #647 closed

[2022-05-05 10:15] philiparvidsson commented on #648
I still cannot build with docker because of this exact issue - what do I do?

[2022-05-09 11:54] Augustinio commented on #648
pip3 install --no-binary=opencv-contrib-python opencv-contrib-python still triggers this exact same error for me

[2022-05-09 12:30] skvark commented on #648
The last release was in March (https://github.com/opencv/opencv-python/releases) and the fix landed in April so it's not yet in PyPI. You'll have to clone this repository or wait for a new release.

[2022-05-10 05:37] andymina opened #661 "Image opened from REPL hangs - macOS"
### Expected behaviour

An image opened from a Python shell should close:
- after 1 second with `cv2.waitKey(1000)`
- with `cv2.destroyWindow("<window_name>")`
- with `cv2.destroyAllWindows()`

### Actual behaviour

The image opens, but it hangs when closing in either of the two above cases.

### Steps to reproduce

OS: macOS Catalina 10.15.7
opencv-python version - 4.5.5.64
python version: 3.10.4

[2022-05-13 12:56] Yuval46412 commented on #18
I have the same problem too. I did pip uninstall opencv-python-headless and it still does not work.

[2022-05-16 17:21] mfatih7 commented on #534
hello @asmorkalov

My OS is WIN 10 and I have the same problem and getting the error

error: OpenCV(4.5.5) D:\a\opencv-python\opencv-python\opencv\modules\calib3d\src\usac\essential_solver.cpp:197: error: (-213:The function/feature is not implemented) To use essential matrix solver LAPACK or Eigen has to be installed! in function 'cv::usac::EssentialMinimalSolverStewenius5ptsImpl::estimate'

cv.__

[2022-05-16 17:46] mfatih7 commented on #534
Then I downgraded to version 4.5.1.48.
But this generated other errors related to Camera Calibration and 3D Reconstriction functions

[2022-05-16 17:59] asmorkalov commented on #534
Yes. Windows packages does not contain LAPACK and the function is available on Linux and Mac for now. We are looking for good enough LAPACK implementation for Windows to cover all platforms.

[2022-05-17 14:05] tomaszgrygiel opened #662 "cv2.imread changes behaviour between 62 and 64 release"
### Expected behaviour

Using `cv2.imread` from 4.5.5.62 on a PNG image with rotation (EXIF orientation) results in correctly loaded image:

[code]

### Actual behaviour

Using `cv2.imread` from 4.5.5.64 on a PNG image with rotation results in image loaded with rotation ignored:

[code]

Unfortunately I cannot provide image in question as it contains sensitive information.

### Steps to reproduce

[2022-05-17 14:13] narolski commented on #662
Can confirm that `cv2.imread` behavior is changed in the above way.

Presumably, it might be because of the updated Python dependencies in the `4.5.5.64` version.

[2022-05-18 06:34] asmorkalov commented on #662
Related changes in OpenCV https://github.com/opencv/opencv/pull/19439 before 4.5.5.

[2022-05-18 06:54] asmorkalov commented on #662
Sounds very strange. There are no changes between .62 and .64 for png. Also wheels from Pypi contain identical binaries for libpng. So nothing was changed for png between releases. Do you install both versions with pip? Could you run publish `cv2.getBuildInformation()` output for both versions of OpenCV installation? I suspect than one of instances you mention uses side libpng binary, but not prov

[2022-05-18 07:10] narolski commented on #662
@asmorkalov That is right, I've installed both mentioned versions of `opencv-python-headless` with `pip`. I will get back to you with `cv2.getBuildInformation()` output.

[2022-05-18 09:17] narolski commented on #662
@asmorkalov for `opencv-python-headless==4.5.5.64`:

[code]

and for `opencv-python-headless==4.5.5.62`:

[code]

Would you mind helping me interpret these outputs?

[2022-05-18 10:04] asmorkalov commented on #662
Since .64 we switched to building libpng from sources  in opencv/3rdparty rather than PNG library usage from manylinux image. Manylinux verison is out-of-date and is not updated any more. So, in fact the new package does not use *.so fine for image decoding, but relies on statically linked instance. I discussed the issue with @asenyaev. The issue looks like regression between libpng versions and w

[2022-05-18 10:27] narolski commented on #662
@asmorkalov, thank you so much for your swift response and great help! 🎉  I'll be looking forward to the upcoming release 🙏

[2022-05-18 19:17] Anuradha-Naidu commented on #498
which library ??

[2022-05-19 21:39] alalek commented on #648
@Augustinio Try `pip install git+https://github.com/opencv/opencv-python.git` to build from the HEAD of repository with latest fixes.

[2022-05-20 14:27] Yvan-Masson opened #663 "Build with pip3: No such file or directory: '_skbuild/linux-x86_64-3.9/cmake-install/python/cv2/__init__.py'"
Hi,

### Expected behaviour

I am trying to build a [small software](https://framagit.org/Yvan-Masson/WhosWho) using Flatpak. One of the dependencies is opencv-headless (I chose blindly the latest version `4.5.5.64`, maybe a previous version would be a better choice) and needs to be built with pip (`22.0.4`, Python 3.9) during the Flatpak build process.

### Actual behaviour

Unfortunately, while

[2022-05-24 03:52] Kitty1122 commented on #18
Tried pip uninstall opencv-python-headless - didn't work
Also, pip uninstall opencv-python; pip install open-python - didn't work

[2022-05-25 14:24] Yvan-Masson commented on #663
Still trying to build my software with Flatpak, I ended up copying manifest from another app which builds opencv without some options instead of opencv-headless. As build works like that, I suppose you can close this issue.

[2022-05-25 18:25] lig commented on #648
Installing something in production blindly from a head branch of a remote repo is dangerous and could lead to unexpected behavior. It would be beneficial to make a new release that fixes building with advanced package managers like pip-tools and poetry.

[2022-05-25 22:30] asenyaev commented on #662
@tomaszgrygiel @narolski yes, the issue in the libpng. The opencv-pyton 4.5.5.62 version has libpng 1.5.13, but opencv-python 4.5.5.64 has libpng 1.6.37.

The main issue is in update between these versions:

I'm preparing updates for docker images and build configurations. The next release should fix this issue. It will give an output the same as in opencv-python 4.5.5.64 version, because we will

[2022-05-26 06:03] hungkawang opened #664 "cv2.imwrite saving image problem"
### Expected behaviour
Hi, I am build an API using docker and I am using cv2.VideoCapture and cv2.imwrite to capture an image from a rtsp link. I curl in postman and error occurred. The code suppose to try recapturing the image and finally print out "RTSP failed to capture." if trial > 10 or save the image to imgPath. My frame captured is None and it should raise error when cv2.imwrite(imgPath, fr

[2022-05-26 06:25] asmorkalov commented on #664
According to documentation it's expected behavior: https://docs.opencv.org/4.x/d8/dfe/classcv_1_1VideoCapture.html#a473055e77dd7faa4d26d686226b292c1 VideoCapture.read returns false and image set to None, if camera is disconnected or new frames are not available by some reason. Please ensure that your do not have issues with the network stream itself and the program is able to handle all frames on

[2022-05-26 08:15] hungkawang commented on #664
But cv2.imwrite should raise error when you save None to imgPath?

[2022-05-26 08:57] asmorkalov commented on #664
No, None is not valid Python object to be converted to C++ cv::Mat. So the issue with None is expected behaviour. In case if some parameter is not used or empty, please provide empty numpy.ndarray, but not None.

[2022-05-26 21:46] andreaceruti opened #665 "cannot find cv2.rgbd module"
### Expected behaviour

I would like to use the rgbd.rescaleDepth function in [RGB-D Depth processing module](https://docs.opencv.org/4.x/d2/d3a/group__rgbd.html)

### Actual behaviour

Trying to use the function with cv2.rgbd.RescaleDepth() function I get the error

### Steps to reproduce

- operating system: Ubuntu 18.04
- python version: 3.9.9
- opencv-python version: 4.5.5

[2022-05-26 22:10] asenyaev commented on #662
Tried to reproduce the issue building OpenCV from source (not in opencv-python repository) with libpng 1.6.37 version. So, it happens also there.

The output:
[code]
file_original.png:
![file_original](https://user-images.githubusercontent.com/76472231/170586947-0897b8d0-305e-4df9-909f-42020f283b92.png)
file.png:
![file](https://user-images.githubusercontent.com/76472231/170586944-c7cd2e86-1ba7-48

[2022-05-27 02:28] swli2 commented on #648
I am working with a different package, mmpose, that initially won't install. Building from HEAD allows mmpose to install, but mmcv is no longer able to read videos (not a problem with my original install of opencv-python from source)

[2022-05-27 05:35] asmorkalov commented on #648
OpenCV team works on 4.6 release. Right now. The patched version will be officially released in a couple of weeks.

[2022-05-27 06:25] asmorkalov commented on #665
Please ensue that you install `opencv_contrib-python` package, but not `opencv-python`. RGBD is path of contrib repo. I just tested the latest OpenCV from pip in my Ubuntu 18.04 and the function is there (starts from non-capital latter):
[code]

[2022-05-27 06:26] #664 closed

[2022-05-27 19:36] Ittiz commented on #612
I had the same issue as [pauljurczak](https://github.com/pauljurczak) and this indeed was the problem.  My Pip version was 18.1 and opencv requires 19.3 or higher.

[2022-05-28 02:36] alalek commented on #662
@asenyaev https://github.com/opencv/opencv/pull/19439 includes tests, so there is no bug expected.

Feature from mentioned PR is available with libpng 1.6.31+ only. This feature is disabled in .62 package as it uses old libpng 1.5.x.
.64 package starts using updated libpng and Exif feature is switched on.

@tomaszgrygiel @narolski
There are no plans to disable Exif feature support for PNG images.

[2022-05-28 11:01] andreaceruti commented on #665
Fixed, closing the issue

[2022-05-28 11:01] #665 closed

[2022-05-29 19:24] josephernest opened #667 "Windows binary release with dc1394 enabled (OpenCV Python)"
I've already asked this on other sources (such as Stackoverflow) without answer.

Is there a Windows binaries build that includes `dc1394` for Python 3.8? The official `pip install opencv-python` version has been built with `dc1394` *disabled*.

Thanks in advance!

[2022-05-31 08:46] iska69 commented on #657
I have the same problem and have tested all solutions I could find but no luck :(

macOS: Mojave
Python Version: 3.9
Pip Version: 22.1.1

[2022-06-02 08:53] asenyaev commented on #658
Thank you for this information. The issue was fixed in https://github.com/opencv/opencv-python/pull/666. It will be updated in the next release which will happen next week.

[2022-06-02 08:53] #658 closed

[2022-06-02 08:53] asenyaev commented on #659
Thank you! The issue was fixed in https://github.com/opencv/opencv-python/pull/666. It will be updated in the next release which will happen next week.

[2022-06-02 08:53] #659 closed

[2022-06-02 21:44] flow-mm commented on #657
Hello, I've got (almost) the same problem.

ERROR: Failed building wheel for opencv-python
ERROR: Could not build wheels for opencv-python, which is required to install pyproject.toml-based projects

macOS El Capitan
PyCharm
Python : 3.9.13
pip version : 22.1.2

I tried to install a previous version of openCV but that doesn't work either.

[2022-06-03 07:30] asmorkalov commented on #662
The next releases of OpenCV Python will be produced with libpng 1.6.31+ and the behavior will be presumed. Closed as nothing to do on our side.

[2022-06-03 07:30] #662 closed

[2022-06-03 07:37] asmorkalov commented on #612
There is no target "conta_estaciona" in OpenCV. It's something in your app.

[2022-06-03 07:37] asmorkalov commented on #612
The issue is closed as original problem reported by the issue starter has been resolved.

[2022-06-03 07:37] #612 closed

[2022-06-03 08:56] asenyaev commented on #655
Hi @KaleIsPale!

I have tried to reproduce this issue on different Windows devices with different Python versions and have not found this issue.

My steps to reproduce:
1. Install `opencv-python` with 4.5.5.64 version with `--no-cache` `--force-reinstall` flags:
[code]
2. Import OpenCV:
[code]

I know where this line from, we append an `__init__.py` file with extra imports [here](https://github.co

[2022-06-06 15:58] pjbelo commented on #591
My problem was related to diferent versions of opencv modules. You can check it with:
`pip list | grep opencv `

upgrading all modules to the same version solved my error:

[code]

[2022-06-07 01:40] abhiTronix commented on #591
@pjbelo You must not install all opencv-python versions at once. You need to chose any one of them.

[2022-06-07 08:50] pjbelo commented on #591
Hi @abhiTronix. Thanks for your comment but I'm not sure if I understood it. I didn't install nothing new. Using `pip list | grep opencv` I can see the installed versions (that were different). And then I upgraded them. It seems upgraded versions solved the problem. What's wrong with this approach?

[2022-06-07 09:24] beelabcloud commented on #339
It might be caused by the opencl. Rebuild from source without opencl works for me.

[2022-06-07 09:52] abhiTronix commented on #591
@pjbelo Every OpenCV binary `opencv-python`, `opencv-contrib-python`, `opencv-python-headless` serves different purpose. See docs:

- Option 1 - Main modules package: `pip install opencv-python`
- Option 2 - Full package (contains both main modules and contrib/extra modules): `pip install opencv-contrib-python`
- Option 3 - Headless main modules without GUI package: `pip install opencv-python-head

[2022-06-07 10:08] pjbelo commented on #591
@abhiTronix I did not install any new packages.

Using Google Colab and after installing TensorFlow Object Detection API I had these three packages installed: `opencv-python`, `opencv-contrib-python`, `opencv-python-headless`. Not sure why Google decided to to have them installed or if they are not necessary.

I just updated their versions and that cleared the error. I'm aware that sometimes you n

[2022-06-07 10:17] alalek commented on #339
`OPENCV_OPENCL_RUNTIME=disabled` environment variable may help without rebuild: https://github.com/opencv/opencv/wiki/OpenCL-optimizations

[2022-06-07 10:23] pjbelo commented on #591
@abhiTronix  I did not install any new packages.

Using Google Colab and after installing TensorFlow Object Detection API I had these three packages installed: opencv-python, opencv-contrib-python, opencv-python-headless. Not sure why Google decided to to have them all installed or if they are not necessary. (you can check this [here](https://colab.research.google.com/drive/19uyL2qIfBvz03UFxYiUvRF

[2022-06-07 15:21] pjbelo commented on #591
Hi @abhiTronix , digging a bit deeper:
Google Colab basic setup comes with these packages (at the moment of this comment):
opencv-contrib-python         4.1.2.30
opencv-python                 4.1.2.30

After installing TensorFlow Object Detection API, this package is also installed:
opencv-python-headless        4.5.5.64

So the conflict between theses packages must be the origin of the error.

Te

[2022-06-07 16:47] pjbelo commented on #591
Hi again @abhiTronix, digging a little bit deeper:

This is the reverse tree of dependencies for colab / object-detection on opencv packages (at the moment of this comment):

opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
  - albumentations==0.1.12 [requires: opencv-python]
  - dopamine-rl==1.0.5 [requires: opencv-python>=3.4.1.15]
  - imgaug==0.2.9 [requires: opencv-python]
    - albumen

[2022-06-08 07:59] digenPrime commented on #657
please send solutions if anyone have?

[2022-06-08 11:11] Christian-B opened #674 "ModuleNotFoundError: No module named 'skbuild' with 4.6.0.66 and not 4.5.5.64"
We use github action to test our code

We install in the very latest off all tools including pip
 python -m pip install --upgrade setuptools wheel
 python -m pip install pip

This worked (and still) fine with opencv-python  4.5.5.64

it failes
  File "/tmp/easy_install-otpfl9qw/opencv-python-4.6.0.66/setup.py", line 10, in <module>
    # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See th

[2022-06-08 11:19] rahulporuri commented on #674
We're seeing the same issue as above ^.

[2022-06-08 11:26] sifangdu commented on #657
I am installing from Databricks pypl, also had the same issue. Opencv was working until 10:10am UK time for me, and does not work after 11am. The building wheel stage took an hour and I had to end this process. Uninstalling and reinstalling was not helpful. There were no error message and all dependencies are installed.

[2022-06-08 11:45] bordax opened #675 "No x86_64.manylinux2014 wheel binary on v4.6.0.66"
### Expected behaviour

I expect a binary installation using `pip install opencv-python`.

### Actual behaviour

When installing in Linux x86_64 plataforms, we have to built from source. This slowdown automatic CI, like Github Actions.

### Steps to reproduce

- example code
- operating system
- architecture (e.g. x86)
- opencv-python version

##### Issue submission checklist

 - [x] This is not a

[2022-06-08 12:09] peterdudfield commented on #675
I think im seeing the same error when building a Docker file from python:3.9-silm-buster

https://github.com/openclimatefix/nowcasting_api/runs/6793058401?check_suite_focus=true

[2022-06-08 12:09] mochimochimichi commented on #657
I tried installing through !pip install in notebook cell, and the installation is successful but took 33mins. output is listed below:

  Building wheel for opencv-python (PEP 517) ... done
  Created wheel for opencv-python: filename=opencv_python-4.6.0.66-cp38-cp38-linux_x86_64.whl size=28434185 sha256=d20c1d2f7c71ca7d9bc47bc6df9217884ee72975f06b2086940c1166ba25d243
  Stored in directory: /root/.c

[2022-06-08 13:39] bordax commented on #675
The binary package is on air now: https://pypi.org/project/opencv-python/4.6.0.66/#files

So, I'm closing this issue.

[2022-06-08 13:39] #675 closed

[2022-06-08 14:39] asenyaev commented on #657
Hello!

It looks like your OS is older than macOS Catalina ([10.15.7](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md)) which is used for building OpenCV Python packages. That's why you not just install a pre-built wheel (`.whl`), but build a package using the source package (`.tar.gz`) what spends some time (~30min-1h).

Could you add `--verbose` flag

[2022-06-08 14:46] Christian-B commented on #674
Respect!
Uncapped and now works on both github actions and Jenkins (which had also failed)

ok to close on my part

[2022-06-08 15:41] 0xiNach commented on #521
How can you set bitrate?

[2022-06-08 22:12] rahulporuri commented on #674
same here, our CI is happy now. Thanks @asenyaev , this can be closed.

[2022-06-08 22:35] asenyaev commented on #674
Thanks for the feedback! Closing this issue.

[2022-06-08 22:36] #674 closed

[2022-06-10 05:51] M3ssman opened #676 "Breaking changes in module loading v4.6.0.66"
### Expected behaviour

With opencv-python-headless-4.5.5.64 I was able to import opencv module into Python alike:

[code]

this way any related functionalities could be accessed, for example via `cv2.putText`.

### Actual behavior

Since yesterday, opencv-python-headless-4.6.0.66 gets pulled.
Any automated build pipelines now break with the error

[code]

### Steps to reproduce

- example code: p

[2022-06-10 05:52] M3ssman commented on #676
Any suggestions welcome!

[2022-06-10 06:05] robertschweizer commented on #570
The fix for this was reverted in 5633cf319efadb628e8369b48834d74491c10b1a, so this bug appears again in version 4.6.0.66. Should we rename and reopen this issue or create a new one?

[2022-06-10 07:45] VadimLevin commented on #676
Good day, why do you try to import the internal implementation module instead of the using `cv2` module directly: `import cv2`?

[code]

[2022-06-10 22:38] apatsekin opened #677 "avoiding multiple PIP packages installation"
Hey guys! A bit confused on how to properly set a PIP dependency for my package if it depends on OpenCV. README clearly states:

implying
opencv-python
opencv-contrib-python
opencv-python-headless
opencv-contrib-python-headless

Say I have `opencv-contrib-python-headless` installed in my environment, and then I install pip package that depends on `opencv-python-headless`. Even though it can perfec

[2022-06-11 09:27] alalek commented on #677
There is [Provides-Dist](https://packaging.python.org/en/latest/specifications/core-metadata/#provides-dist-multiple-use), but Python package managers doesn't support it yet.

Some discussion is here: https://github.com/opencv/opencv/pull/21611

---

Current workaround - after install remove unused package variants.

[2022-06-11 10:34] KaleIsPale commented on #655
Ok so I uninstalled ALL the modules (i.e. opencv-python, opencv-python-headless and opencv-contrib-python) and installed cv2 again, and it seems to be working (Probably because the module was updated to v4.6)
Anyways, TSYM For the help!

[2022-06-11 10:34] #655 closed

[2022-06-11 10:42] asenyaev commented on #655
@KaleIsPale, thank you for the feedback!

[2022-06-12 04:08] RANA-ATI commented on #168
I am using 4.6.0 Still the same error though I am new to this but i can't figure the way to make it work.

[2022-06-14 13:24] ALEXDINO7 opened #678 "how we can play video with sound"
when i run the script i can see the video but without sound

[2022-06-16 05:58] asmorkalov commented on #678
OpenCV is Computer Vision library and it does not support sound processing. There is experimental sound decoding option in VideoCapture for DNN experiments, but not more for now.

[2022-06-16 05:58] #678 closed

[2022-06-17 18:10] kayhayen commented on #676
I pushed a correction to staging branch, not tagged, I mean to make a release any day now, at least one for develop, likely tomorrow, if my CI really likes all the new optimization so well as it appears to be the case.

[2022-06-18 05:19] BenLin0 commented on #676
I don't know how the cv2 is organized, by when you use

I don't know how the cv2 is organized, but when you use "import cv2", the PyCharm (and pylint) is not able to detect the members of cv2 , so it is giving warning for any operation of cv2. The solution is to use 'from cv2 import cv2' at the beginning of the code.

Looks like the new version (4.6.066) changes the packaging of cv2, making 'from

[2022-06-18 16:20] phemiloyeAI opened #679 "dnn module is hidden from my opencv"
The dnn module in my opencv-python version is hidden. The readNet() function was not available when I typed cv2.dnn.readNet('onnx model').

And I got errors like "Failed to parse ONNX model" when I passed my weights to readNet().

OS: Windows10
opencv-python version: 4.6.0.66

[2022-06-19 10:06] tfuto commented on #571
Ubuntu 22.04 LTS needs the same command as https://github.com/opencv/opencv-python/issues/571#issuecomment-975170043

[2022-06-22 12:39] tfuto commented on #571
@asenyaev  I took a vanilla Ubuntu 22.04 LTS, upgraded everything (sudo apt update, sudo apt upgrade), then tried installing opencv-python, failed, arrived here, and comment #571 was the command that actually worked. A few days passed, and I worked on various things, but I can redo this quick drill to check again.

[2022-06-22 13:28] asenyaev commented on #571
@tfuto, if you tried to just install opencv-python, I guess it means that you use a latest version (4.6.0.66). However, I couldn't reproduce an issue with the latest version of opencv-python package on Ubuntu 22.04 LTS.
[code]

Even the build from source using the command `python3 -m pip install -v --no-binary=opencv-python-headless opencv-python-headless==4.6.0.66` finished successufully:
[code]

[2022-06-22 19:31] mrjeckel commented on #432
Seeing a similar issue when packaging with pyinstaller using opencv-python 46.6.0.66 from pypi. 4.5.5.64 work fine.

[code]

[2022-06-22 19:38] mrjeckel opened #680 "ImportError: ERROR: recursion is detected during loading of "cv2" binary extensions. Check OpenCV installation."
Seeing a similar issue to https://github.com/opencv/opencv-python/issues/432 with opencv-python==4.6.0.66 packaged using pyinstaller==4.4. It works fine when running from source; the issue only occurs when packaged. opencv-python==4.5.5.64 works fine.

My Env:
Ubuntu 16
Python3.8

[code]

[2022-06-23 17:55] mdsmarte opened #682 "Clarification on H264 support of included ffmpeg"
The repo README states that the wheels of `opencv-python` include an ffmpeg licensed under LGPL. This implies that the included ffmpeg will not be able to read H264 videos, since this would require ffmpeg to be distributed under GPL (x264).

However, after installing `opencv-python-headless` version 4.3.0.38 from pip into a fresh python 3.8 environment, I am able to read video frames from an H264

[2022-06-28 16:40] Tan-Kwee-Khuang-alice opened #685 "VideoCapture Issue"
Hi There, good day. i am trying to make an open cv capture a picture and re-run the it with with its timing recorded. Not sure how to it works independently with its timing for its picture capture. Not sure, can someone here enlighten it. Thanks.

[###](url) Expected behaviour

Write here how did you expect the library to function.

### Actual behaviour

Write here what went wrong.

### Steps to r

[2022-06-28 20:41] mdsmarte commented on #682
Thank you for the clarification!

[2022-06-28 20:41] #682 closed

[2022-06-30 05:08] SeungjunNah commented on #680
Same here. I also had to revert to 4.5.5.64

[2022-06-30 20:10] #679 closed

[2022-06-30 23:57] kopecn opened #686 "Charuco Behavior in opencv-python-contrib"
our unit tests for charuco handling have started breaking in 4.6.0.66 and was uniformly passing in 4.5.5.64 and earlier.

Has there been any major changes that could impact --> cv2.aruco.detectMarkers going from 4.5 to 4.6?

Let me know what sample code is needed to help out.

[2022-07-04 07:03] asmorkalov commented on #686
There were a lot of fixes in Aruco and related code: https://github.com/opencv/opencv_contrib/pulls?q=is%3Apr+is%3Aclosed+label%3A%22category%3A+aruco%22

[2022-07-04 09:38] asenyaev commented on #680
Hi @mrjeckel, @SeungjunNah!

I've tried to reproduce the issue on my Ubuntu 18.04 installing `Python3.8`, `opencv-python==4.6.0.66` and `pyinstaller==4.4`, but anything passed successfully.

My reproducing steps:
1. Install `opencv-python==4.6.0.66`:
[code]
2. Install `pyinstaller==4.4`:
[code]
3. Create py script:

`test.py`
[code]
4. Use `pyinstaller` with this script:
[code]

<details>
  <summa

[2022-07-04 09:40] asenyaev commented on #680
I also tried to do the same steps in a container with Ubuntu 16, and it also finished successfully.

<details>
  <summary>Output Ubuntu 16</summary>

[code]

[2022-07-04 09:44] asenyaev commented on #680
It can be something wrong with a local environment on your side. Could you check which OpenCV Python packages were installed using `pip`:
[code]
Multiple OpenCV Python packages can break your environment. Please, use only one package at a time. In addition, I would suggest to use `--force-reinstall` flag for pip to be sure that re-installation happened.

[2022-07-04 20:02] TracyLoza commented on #18
Same to me, but I do this:
`pip uninstall opencv-python`
Then:
` pip install opencv-python`

[2022-07-05 00:43] noword commented on #680
I use Windows 10, python 3.8, newest version of opencv-python. When I try to pack a exe with pyinstaller, I have the exact same problem. opencv-python==4.5.5.64 works fine.

I compared two version of __init__.py
Maybe the key is in line 162:
4.5.5.64:  native_module = importlib.import_module("cv2.cv2")
4.6.0.66:  native_module = importlib.import_module("cv2")

[2022-07-05 08:01] fengyuentau opened #687 "Is it able to provide opencv-python nightly build?"
Hello! I wonder whether we can provide opencv-python nightly builds.

Consider a case like this: patch https://github.com/opencv/opencv/pull/22100 fixed the clip node issue which [allows us to load mobilenet v2 again](https://github.com/opencv/opencv_zoo/issues/55). However, for normal users who install `opencv-python` from pypi, they will have to wait for the release of 4.7.0 which is likely taki

[2022-07-05 17:41] kopecn commented on #686
I was able to dig a bit more, and see that the cv2.aruco.CharucoBoard_create does different layout for charuco, and wanted to ask if this was the expected behavior.  Perhaps fixing something that was previously wrong?

board = cv2.aruco.CharucoBoard_create(
            10,
            10,
            0.0337,
            0.02696,
            5,
        )

<img width="1914" alt="image" src="https://

[2022-07-06 13:23] AleksandrPanov commented on #686
@kopecn there is behavior change only with **even** row count. There were several bugs: https://github.com/opencv/opencv_contrib/issues/2623, https://github.com/opencv/opencv_contrib/issues/2604

This [path](https://github.com/opencv/opencv_contrib/pull/3174) fixed this and now `CharucoBoard` behavior is aligned with chessboard: https://github.com/opencv/opencv/blob/4.x/doc/pattern.png

You can us

[2022-07-06 14:37] #686 closed, assigned to AleksandrPanov

[2022-07-06 17:28] Shikamaru5 commented on #680
The new version and the old version don't work for me, it says there is a problem when it hits the def bootstrap in the site-packages\cv2\cv2\__init__.py line 85 def bootstrap() and when I try the older version of opencv-python it tells me that opencv is only partially built, and that not all the files are there. I've tried uninstalling it and reinstalling it and doing pip install --upgrade opencv

[2022-07-06 19:50] kopecn commented on #686
Excellent!  Thank you for the help/feedback!  We will make the adjustments as you recommend and update our old patterns.

[2022-07-12 07:23] boblu1234 opened #688 "SIFT function"
Hi, bros!
anyone can tell me, is there a function called   **cv2.SIFT_Create()**  in cv2? I just used cv2 to capture the SiFT features in a image, but it does not work when I used  **cv2.xfeatures2d.SIFT_create()**, so I found someone using function **cv2.SIFT_Create()**, and It works!

[2022-07-13 08:30] AeonDave commented on #680
I have the same problem
however it only appears if I run my python  project in trace mode
python 3.8
opencv-contrib-python 4.6.0.66

python3 -u -m trace -c run.py
[code]

otherwise it works normally

[2022-07-13 15:40] impact27 opened #689 "Recursion when importing cv2 from debugger"
### Expected behaviour

No recursion

### Actual behaviour

`ImportError: ERROR: recursion is detected during loading of "cv2" binary extensions. `

### Steps to reproduce

1. `pip install "opencv-python>=4.6"` (works with 4.5)
2. `ipython`
3. `%debug import cv2`
4. `n`

[code]

- example code
- operating system
- architecture (e.g. x86)
- opencv-python version

##### Issue submission checklist

[2022-07-13 15:41] impact27 commented on #689
See https://github.com/spyder-ide/spyder/issues/18581

[2022-07-13 15:51] impact27 commented on #689
I can get it to work by replacing:
https://github.com/opencv/opencv/blob/17234f82d025e3bbfbf611089637e5aa2038e7b8/modules/python/package/cv2/__init__.py#L92
by:
`l_vars = locals().copy()`
The doc of locals might give a guess as to why that works:
[code]

[2022-07-14 20:07] angeliquemccl commented on #362
If it everything is update per the previous comments. I found out it could be the image size, try using:

def rescaleFram(frame, scale=0.75):

14.23 seconds in the video

https://www.youtube.com/watch?v=oXlwWbU8l2o

[2022-07-15 04:01] Authoriztiondimension commented on #586
![image](https://user-images.githubusercontent.com/76044901/179147666-b38a401c-cff2-4c32-806c-0fd4aff58b16.png)
does your cv2 module look like this?

[2022-07-15 08:15] UmeshG-24099 opened #690 "cv2.imshow("Frame", frame1) doesn't work even if i install OpenCv 3.4"
### Expected behaviour

I am expecting to show ractangular frames around human

### Actual behaviour

It shows me an error like
[code]

### Steps to reproduce

- example code
[code]
------------------------------------------------ Code - End ------------------------------------------------------------

![images](https://user-images.githubusercontent.com/84259283/179181963-6a598596-3ef2-4d6d-ba2c-0

[2022-07-15 17:18] rvalue opened #691 "Python binding errors"
### Expected behaviour

When trackbar is created using a callback function, and the trackbar is used, the callback function is called

### Actual behaviour

When trackbar is created using a callback function, and the trackbar is used, program outputs a segfault and terminates.

[code]

See Also: https://gist.github.com/rvalue/85247541e298fb01451c5679c3bb8a45

### Steps to reproduce

- [example cod

[2022-07-15 17:23] rvalue commented on #691
Moreover, there does not seem to be any problem when purely in C++. The following program gives no error with OpenCV 4.6.0

[code]

[2022-07-16 11:57] #691 closed, assigned to nobody

[2022-07-17 08:05] Harrypotterrrr commented on #322
Same issue.

[2022-07-18 03:33] ES-Alexander commented on #586
@Authoriztiondimension the contents of that file will depend on which version you have installed.

I've got
`~/.pyenv/versions/3.9.7/lib/python3.9/site-packages/cv2/version.py`:
[code]

`~/.pyenv/versions/3.9.7/lib/python3.9/site-packages/cv2/__init__.py`:
[code]
which is at least quite similar to yours.

[2022-07-18 07:42] asmorkalov commented on #690
imshow uses X.org ang GTK to manage windows. It looks like X server is not started on your Pi or your app environment is not configured for X session (DISPLAY environment variable, user, etc). It's not OpenCV issue. You can prove it by running any other UI app instead of OpenCV.

[2022-07-18 07:45] asmorkalov commented on #688
SIFT migrated from xfeatures2d (contrib) to features2d as patent expired. `cv2.SIFT_create` should be used to create it.

[2022-07-18 07:45] #688 closed, assigned to nobody

[2022-07-18 15:41] asenyaev commented on #689
Hello @impact27!

I see that this problem happens only with `ipython`. I've reproduced it in `ipython` even not in a debug mode, but if to use just python interpreter, it doesn't happen.

If to say about the [line](https://github.com/opencv/opencv/blob/17234f82d025e3bbfbf611089637e5aa2038e7b8/modules/python/package/cv2/__init__.py#L92) in opencv with `l_vars = locals()`, it was the same even in th

[2022-07-18 21:36] impact27 commented on #689
From the doc (https://docs.python.org/3/library/functions.html#locals): "`The contents of this dictionary should not be modified`". The way I interpret this is that modifying `l_vars` is undefined behaviour. I understand that ipython is behaving differently from python, but if this is undefined behaviour, this is not a bug in ipython.

[2022-07-19 11:08] semaphore-egg commented on #676
Another pycharm user has to pin the version to `4.5.5.64`

[2022-07-19 21:35] evdlabs commented on #680
Same problem on Windows 11 with Python 3.10.2, numpy==1.23.1, pyinstaller==5.2 and opencv-python==4.6.0.66

`['C:\\Users\\a13\\Desktop\\build\\dist\\timelapse\\base_library.zip', 'C:\\Users\\a13\\Desktop\\build\\dist\\timelapse\\cv2', 'C:\\Users\\a13\\Desktop\\build\\dist\\timelapse\\lib-dynload', 'C:\\Users\\a13\\Desktop\\build\\dist\\timelapse']
Traceback (most recent call last):
  File "main.py

[2022-07-20 12:53] asenyaev commented on #689
The fix for this issue was merged in 3.4 branch of opencv (https://github.com/opencv/opencv/pull/22269) and will be in 4.x in the next 3.4 -> 4.x merge. The opencv-python package will have this update in the next release.

Thank you @impact27!

[2022-07-21 12:32] gauthierbuttez commented on #680
**Environment:**

Windows 10

PyInstaller: 5.2

Python: 3.10.5

opencv-python 4.6.0.66

**Problem:**

I am trying to compile my Python code with PyInstaller. The exe is created and when I execute it, I get this error message:

    Traceback (most recent call last):
      File "PhoneBot.py", line 343, in <module>
      File "PyInstaller\loader\pyimod03_importers.py", line 495, in exec_module

[2022-07-21 19:31] Avasam opened #692 "Can't build 4.5 wheels on MacOS Python 3.10 - Bump numpy to 1.21.4"
### Expected behaviour

opencv-python 4.5 to correctly install on x86_64 MacOs Python 3.10

### Actual behaviour

It seems numpy is pinned to 1.21.2, which doesn't contain build wheels for Python 3.10 on Mac.
numpy-1.21.4 does install correctly.
I *cannot* currently use opencv-python 4.6 because of an issue with PyInstaller (See https://github.com/pyinstaller/pyinstaller/issues/6889 and https://gi

[2022-07-24 14:20] MorphSeur opened #693 "Opencv 4.6.0"
Is it possible to use opencv 4.6.0 on GPU?

[2022-07-25 14:14] tuxcell opened #694 "cv2.ximgproc.niBlackThreshold with sauvola/wolf/nick always returns the default (niblack) image"
### Expected behaviour

Each one of the LocalBinarizationMethods should return an image filtered according to the method.
The equivalent C++ code works fine, therefore the issue is with OpenCV-Python..

### Actual behaviour

The output is always the default, niblack.

### Steps to reproduce

- example code
[code]
- operating system
Windows 10 and 11

- architecture (e.g. x86)
X64

- opencv-python

[2022-07-27 17:57] tuxcell commented on #694
A workaround is to use the parameter name, therefore there's something wrong with getting the binarization method if the parameter is passed by position. I looked into the source code but I couldn't find the bug.
This works OK:

t_sauvola = cv2.ximgproc.niBlackThreshold(img, 255, cv2.THRESH_BINARY, 7, 0.1, binarizationMethod=cv2.ximgproc.BINARIZATION_SAUVOLA )

t_wolf = cv2.ximgproc.niBlackThresho

[2022-07-28 02:19] dracenliu commented on #680
[code]

[code]
I have the same problem! How to fix it?

[2022-07-28 11:32] asmorkalov commented on #693
Yes. OpenCV-Python packages are built without CUDA support as they require external CUDA installation and are not portable. You have to rebuild OpenCV from sources with CUDA support by yourself.

[2022-07-28 11:32] #693 closed, assigned to nobody

[2022-07-28 11:33] #690 closed, assigned to nobody

[2022-07-28 11:38] asmorkalov commented on #694
Python signature from documentation:
[code]
https://docs.opencv.org/4.x/df/d2d/group__ximgproc.html#gab042a5032bbb85275f1fd3e04e7c7660
So the original code it the ticket just misplace binarization method as mentioned in the comment. Named parameters is the best solution for issues like this.

[2022-07-28 11:38] #694 closed, assigned to nobody

[2022-07-28 11:39] asmorkalov commented on #689
Promotion to 4.x: https://github.com/opencv/opencv/pull/22305

[2022-07-28 11:42] asmorkalov commented on #680
https://github.com/opencv/opencv-python/issues/689

[2022-07-28 11:45] asmorkalov commented on #676
Potentially related: https://github.com/opencv/opencv-python/issues/689

[2022-07-28 14:22] amunamun07 opened #695 "Problem in the multitrack.update(frame)"
##### System information (version)

- OpenCV => 4.5.5.64
- Operating System / Platform => Ubuntu 20.04 x86
- Compiler => Pycharm

##### Detailed description

I think there is a problem in the multitrack.update(frame) section. All the bounding boxes i set initially only track one object and the other objects are ignored. Please help.

##### Steps to reproduce
    import cv2
    import sys
    from

[2022-07-28 14:25] amunamun07 commented on #695
Run "python main.py --video [video_path]"

    import argparse
    from centroid.single_object_tracking import SingleObjectTracking
    from centroid.multiple_object_tracking import MultipleObjectTracking

    def main(args):
        args = parse_args(args)
        if args.mode.lower() == "single":
            parser = SingleObjectTracking(args.tracker, args.video)
            parser.start_trackin

[2022-07-28 14:28] MarioPonce2910 commented on #680
Work for me ! Thx

[2022-08-02 08:14] asmorkalov commented on #695
`tracker = self.get_tracker()` - it's an object of `cv::legacy::Tracker` on C++ side. It's capable to track single object only. You feed all bounding boxes for different objects to single instance. It breaks tracker behavior. You need to create separate Tracker instance for each tracked object.

[2022-08-02 08:14] #695 closed, assigned to nobody

[2022-08-02 15:12] 666Warlock666 opened #700 "cv2 cant handle char é in path/filename"
### Expected behaviour

if a é or similar char is in file name it should be able to handle it as normal

### Actual behaviour

Write here what went wrong.

### Steps to reproduce

img = cv2.imread('c:\é\filename.jpg) comes back as None
renaming path to
img = cv2.imread('c:\e\filename.jpg) comes with results
even though file exists

windows 10
- architecture x64
latest version

[2022-08-02 20:24] thucungcuatoi commented on #680
https://github.com/opencv/opencv-python/issues/680#issuecomment-1191427477

I have same this issue and try reinstall opencv-python 4.5.5.64! It's OK

[2022-08-03 07:53] asmorkalov commented on #700
Duplicate for https://github.com/opencv/opencv-python/issues/211.

[2022-08-04 07:50] MoonLord-LM opened #702 "【CVE】libbz2-a273e504.so.1.0.6 still has 2 CVE"
**This issue seems to be still not fixed？**
https://github.com/opencv/opencv-python/issues/659

libbz2-a273e504.so.1.0.6 has 2 CVE
[CVE-2019-12900](https://nvd.nist.gov/vuln/detail/CVE-2019-12900)
[CVE-2016-3189](https://nvd.nist.gov/vuln/detail/CVE-2016-3189)

installation method:
pip install opencv-python
get opencv_python-4.5.5.64-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl

[2022-08-04 07:51] MoonLord-LM commented on #702
opencv-python4.6.0.66 has the same issue

[2022-08-05 07:16] viethoang261 opened #703 "cv2.imwrite() issue"
I'm trying to use imwrite with change image quality and got an error
here is my code:
`if not cv2.imwrite(save_path, result_image, [cv2.IMWRITE_JPEG_QUALITY,75]):
                    print('imwrite error')`
and here is the error
` imwrite() takes 2 positional arguments but 3 were given`

Anyone can help me to solve this?
ps: the same environment but run in main and it runs normally

[2022-08-05 13:45] set-killer opened #704 "Cannot install because a test failed: 60 - ExportImport (Failed)"
### The problem is:

So I'm trying to install opencv-python on Alpine linux 3.12 that is running in a docker container.
The installation process cannot complete. It fails with the following error:

[code]

Before installing the opencv-python package i have installed these dependencies:

[code]

Do i need to install OpenCL and do i need a hardware that supports OpenCL or CUDA?

Also i have the same

[2022-08-08 07:42] asmorkalov commented on #704
1. OpenCL and CUDA are optional and will not be used/compiled if not available.
2. According to the provided log the issue is not related to OpenCL. Pip tried to build CMake from sources and the process crashed on some CMake unit test:
[code]
I propose to install cmake as long as compiler with Alpine package manager, but not with pip.

[2022-08-08 07:58] #685 closed, assigned to nobody

[2022-08-08 09:48] raphaelreme opened #706 "SegFault in connectedComponents with connectivity = 4"
Hello !

I was experiencing with cv2.connectedComponents in python and with the connectivity argument (Wanted to use 4 instead of 8), and I faced a SegFault error when using this function without giving the output labels array as parameter (and letting opencv allocating it for me)

I'm not sure whether it is a bug of opencv or opencv python. So I just opened the issue here.

### Steps to reproduce

[2022-08-09 13:30] BLPM commented on #299
Hello, does anyone still get this problem ?

I'm using anaconda enviroment
I have installed opencv 4.5.11.48 from pip and libopenh264 from conda.

[code]

[code]

but when I attemp to save the video with h264 codec
It still show up the error message.
[code]
Is it necessary  build opencv from source code?

[2022-08-10 06:01] skvark commented on #299
Afaik, on Linux the codec library must be linked to the OpenCV binary during the build. On Windows, OpenCV has a feature that allows it to load the external shared library during runtime.

[2022-08-10 10:08] tp1050 commented on #594
what do you mean by removing the last char?
you mean from resul tset returned ?or the thing you have turned into qr?

[2022-08-10 15:22] pasbi commented on #570
I get the `Module 'cv2' has no '*' member`-`pylint`-error with
- :x: `python3-opencv` (4.6.0 installed with `apt`)
- :x: `opencv-python` (4.6.0 installed with `pip`)
- :x: self-built OpenCV (using GitHub repos `opencv/opencv` and `opencv/opencv_contrib` *but not using `opencv-python`*).
- :heavy_check_mark: The only way I found to make `pylint` work was to install version **4.5.5** of `opencv-pyth

[2022-08-11 09:12] asmorkalov commented on #703
@viethoang261 What OpenCV version do you use? I just tried OpenCV-Python 4.5.5 on Ubuntu Linux and it works for me well:
[code]
lena.jpg: https://github.com/opencv/opencv/blob/4.x/samples/data/lena.jpg
The code above returns true and writes new jpeg to disk. The image looks fine.

[2022-08-11 15:47] Nogueira23 commented on #657
I have same problem on Ubuntu! I used the command python3 -m pip install opencv-python==4.6.0.66 --verbose, but a new similar error appeared, with the same identification, but in another part of the process!
![Captura de tela de 2022-08-11 12-43-31](https://user-images.githubusercontent.com/95286411/184174878-93055c8e-6349-4094-9891-93c68de0d0e6.png)

[2022-08-11 20:02] set-killer commented on #704
@asmorkalov yes, you are right. It turned out that the problem is from cmake. The strange thing is that i have already installed cmake with the package manager and it still requires the cmake installed with pip.

Anyway, in the end i have used another docker image where the cmake installs from pip without any issues.
Thank you for your help and have a nice day.

[2022-08-11 20:02] #704 closed, assigned to nobody

[2022-08-12 04:42] viethoang261 commented on #703
@asmorkalov
I'm using OpenCV-python 4.6.0.66
but as I mentioned above, I ran it in main normally but when I called it in service, it got an error
that is why I don't understand where the error come from

[2022-08-12 06:20] asmorkalov commented on #703
It means that you have yet another instance of OpenCV, e.g. system package, that is imported when the code is executed as a service. Please add `cv.getBuildInformation()` call before OpenCV code to catch it.

[2022-08-12 06:31] #703 closed, assigned to asmorkalov

[2022-08-13 21:26] VivianChan98 commented on #391
Weekend saved. Thanks

[2022-08-14 18:28] #689 closed, assigned to nobody

[2022-08-15 10:04] samuller commented on #680
@asenyaev You didn't show the result of running the executable? The exception doesn't happen during the pyInstaller creation step, but only when the resulting executable is run, e.g. `./dist/test` (or `./dist/test/test` when `--onefile` isn't used). I hope that's the difference.

@asmorkalov I just quickly tried the code change used in the MR fix for #689 (i.e. https://github.com/opencv/opencv/pul

[2022-08-15 19:39] shresthapradip commented on #692
Having same issue

[2022-08-15 21:27] Shaownak commented on #687
Agreed with you

[2022-08-15 21:32] Shaownak commented on #508
Have you tried decreasing the version?

[2022-08-16 01:54] fengyuentau commented on #687
Hello @Shaownak , we now have weekly release: `pip install opencv-python-rolling`. Feel free to have a try!

[2022-08-17 12:51] vishisht-dubey commented on #532
Hey, I want to work on this issue
can u provide some more info??

[2022-08-19 14:41] asmorkalov commented on #706
The issue is reproducible with 4.5.5, but not for 4.6.0 and current 4.x branch. Please update your OpenCV installation.

[2022-08-19 14:54] asmorkalov commented on #706
Most probably duplicate of https://github.com/opencv/opencv/issues/21783

[2022-08-19 14:54] #706 closed, assigned to asmorkalov

[2022-08-22 09:57] asmorkalov commented on #687
Implemented -rolling packages that are produced weekly and pushed to pypi to projects with --rolling suffix.

[2022-08-22 09:57] #687 closed, assigned to asenyaev

[2022-08-22 10:03] #645 closed

[2022-08-22 22:27] gaurav00700 commented on #456
@LeiChangxin make sure you have used `cvtColor` not `cvtcolor` .

[2022-08-24 06:16] krisstern opened #713 "Issues building from source on Ubuntu with Python 3.10.4"
### Expected behaviour

I need to build `opencv-python` from source on Ubuntu 22.04 with Python 3.10.4. However, I would like to override the default `PYTHON3_NUMPY_INCLUDE_DIRS` setting from something like `/home/user/miniconda3/envs/py310/lib/python3.10/site-packages/numpy/core/include` to `/home/user/miniconda3/envs/py310/lib/python3.10/site-packages/numpy/core/include/numpy`. Is there any way

[2022-08-24 09:06] krisstern commented on #713
I have just edited the `Python3_NumPy_INCLUDE_DIRS` option in the file `opencv-python/_skbuild/linux-x86_64-3.10/cmake-build/CMakeCache.txt` to use the desired path. Have started re-building the software again and see if the same error will crop up. Will report here once I have the results.

[2022-08-24 15:30] joeyballentine opened #714 "[Feature Request] Lower macOS build target to 10.13?"
As you might be aware, OpenCV-python is currently built for a macOS build target of 10.15. This means that anyone on a version below 10.15 will not be able to install the prebuilt wheel and therefore pip will try to compile OpenCV on their machines.

Many macOS users are still on pre-10.15 builds as those are the last to support 32-bit applications. While I cannot personally test running a version

[2022-08-24 18:27] raphaelreme commented on #706
Oh yes indeed, the new version has fixed the issue! Thanks for your answer!

[2022-08-25 03:08] krisstern commented on #713
No luck, it seems that the edited value for the `Python3_NumPy_INCLUDE_DIRS` option in the `opencv-python/_skbuild/linux-x86_64-3.10/cmake-build/CMakeCache.txt` file got overwritten during the build, so cannot update manually this way.

[2022-08-25 13:40] skvark commented on #714
If I remember correctly, the build target was raised to 10.15 due to some issues with external dependencies on older macOS versions (especially with Qt) and Travis (build time limits) when it was still used instead of Github Actions. Since Qt is not a dependency on macOS anymore and Travis is not used, I see no reason why 10.13 couldn't be used.

[2022-08-25 14:15] joeyballentine commented on #714
Well that's great to hear. Any idea how long it would take to get this change released, if it's approved?

[2022-08-25 23:18] qwea363636 opened #717 ""recursion is detected during loading of "cv2" binary extensions" after converting to exe with pyinstaller"
### Expected behaviour

It should works the same as the debug mode

### Actual behaviour

As soon as I opened the exe, it shows the error message and close itself
Basically the same as this one
https://stackoverflow.com/questions/69855356/recursion-is-detected-during-loading-of-cv2-binary-extensions

Tried the solution on there. Installing the version 4.5.3.56 throws the following error:
[code]

#

[2022-08-26 12:27] #702 closed, assigned to asenyaev

[2022-08-26 12:29] asenyaev commented on #702
This issue is fixed in https://github.com/opencv/opencv-python/pull/715 and the next release of packages will be without this lib in case of it is unused there.

[2022-08-26 16:05] sachin-nats-25 commented on #498
Which library???

[2022-08-26 16:05] sachin-nats-25 commented on #498
Can anyone help out with this issue

[2022-08-26 18:05] dhaval-khatri1996 opened #719 "OpenCV does not work with new Raspberry Pi MIPI camera software stack"
openCv python version 4.5.5.
Camera module waveshare OV9281-110
I am working with raspberry-pi model 4-B with latest bullseye OS.

I am able to capture image using **libcamera-still -o test.png** command but when I try to read an image with opencv it returns None.
The output for cam.isOpened() is true but cam.grab() and cam.read() return false and (false,None) respectively.

Code:
[code]

Output:

[2022-08-29 06:36] #714 closed, assigned to nobody

[2022-08-29 10:32] 07Agarg commented on #408
How to resolve this issue? Can someone list the steps?

[2022-08-29 11:58] Juddd opened #721 "report a bug about autocomplete"
I'm in Windows 11. If I use version 4.6.0.66 with Pycharm 2022.1.3, then I cannot use the code autocomplete. I have to install version 4.5.5.64. Hope to fix quickly

[2022-08-29 12:00] #692 closed, assigned to asenyaev

[2022-08-29 12:01] asenyaev commented on #692
The change was merged into `4.x` and will be available in the next release.

[2022-08-31 15:04] asmorkalov commented on #721
https://github.com/opencv/opencv-python/issues/676

[2022-08-31 16:31] dhaval-khatri1996 commented on #719
could someone help me out? I tried building opencv from source and still the same thing.

[2022-09-01 16:34] dhaval-khatri1996 opened #723 "[bug] camera.read() not returning any data"
openCv python version 4.5.5.
Camera module waveshare OV9281-110
I am working with raspberry-pi model 4-B with latest bullseye OS.

I am able to capture image using **libcamera-still -o test.png** command but when I try to read an image with opencv it returns None.
The output for cam.isOpened() is true but cam.grab() and cam.read() return false and (false,None) respectively.

Code:
[code]

Output:

[2022-09-01 18:14] zborges opened #724 "Video stream being cut off one either side."
### Expected behaviour
Should show full image from VGA.

### Actual behaviour
Cutting off one side of the image.

### Steps to reproduce
#### example code
[code]

#### operating system
- OSX
- Debian
#### architecture
- ARM
#### opencv-python version
- 4.6.0

##### Issue submission checklist

 - [x] This is not a generic OpenCV usage question (looking for help for coding, other usage questions, ho

[2022-09-02 17:10] mark-77 opened #727 "missing DLL error when compiling from source with Gstreamer enabled"
Good evening to everyone,

I have been trying to wrap my head around an issue which should be supposedly simple to solve. I just can't seem to make opencv-contrib-python to work when compiled from source with Gstreamer enabled. Compilation succeeds and the wheel is correctly generated but when I try to run this simple script in VScode 1.70.2, i get the error below (in Actual behaviour section)

##

[2022-09-02 21:33] McDonnellJoseph commented on #727
Hello,
I had a similar issue when trying to interface some open-cv functions with Qt. From a quick google search it looks like Gstreamer also uses Qt5.

A possible solution is creating a new conda or pip environment and installing opencv-python-headless and adding all your other packages including Gstreamer to this new environment. You can then run your code in this new environment.

[2022-09-03 09:35] skvark commented on #727
It looks like the build works just fine. The error occurs during runtime when you try to import cv2.

Open the cv2 binary with Dependencies https://github.com/lucasg/Dependencies to see which DLLs are missing and double-check that they are in your PATH.

[2022-09-03 12:21] mark-77 commented on #727
Thanks very much to all of you for your swift replys. I do appreciate it.

Joseph, I don't quite understand what you mean. Should I build the headless version of opencv-python with Gstreamer enabled (but then I would loose the functionality related to the gui part like cv2.imshow()) or should I install Gstreamer separately through pip or other methods??

Hi skvark! Could you please tell me which b

[2022-09-04 15:24] skvark commented on #727
The path depends on where you installed opencv-python, but for example, for global Python 3.10 installation it can be found here: `C:\Python310\Lib\site-packages\cv2\cv2.pyd`. It's a Python C extension binary module.

[2022-09-05 07:37] asmorkalov commented on #723
Could you run cheese or some other web cam app to ensure that v4l2 interface works well. Also, OpenCV prints warnings, if something goes wrong in v4l2 back-end. Please add them to logs, if any.

[2022-09-05 07:40] asmorkalov commented on #724
@zackartborges Please provide more details on camera, and your hardware setup. What about other apps for webcam like cheese on Linux? Do they show full frame?

[2022-09-05 11:23] dhaval-khatri1996 commented on #723
@asmorkalov thank you for your time, I just checked the camera with cheese. There is a weird behavior here the camera feed looks clear, as in when viewing camera using cheese it looks fine but when I save an image it shows a picture with random colored pixels and when I try to record a video cheese gets stuck. The video feed without clicking image or taking video is as it should be, but as soon as

[2022-09-06 02:35] tonmoyts commented on #657
has anyone got any solution?
OSx- El Captain
Pip3: 22.2.2
Python: 3.10
![Untitled](https://user-images.githubusercontent.com/76896307/188680522-f3a098df-8da2-4f1e-9ae5-89d56d97b9cd.jpg)

[2022-09-07 10:07] asmorkalov commented on #723
I try to record a video cheese gets stuck - it's expected behavior. Cheese uses CPU codec to encode video. It's not capable to encode video on pi in real time.
I just tried couple of my boards:
-  Raspberry 1b + Raspberry Pi Camera Module v2 (IMX219), OpenCV 4.6.0.66 (pip install)
- Raspberry 3 + Raspberry Pi Camera Module v1 (OV5647), OpenCV 4.6.0.66 (pip install)
And found out that the issue cor

[2022-09-09 13:34] sergi0g opened #728 "Segmentation Fault (core dumped) in face recognition pipeline"
### Expected behaviour

I wrote a program for face recognition, which was supposed to show a rectangle around any detected faces.

### Actual behaviour

The program started running and once it detected my face (but it did not recognize it), the program exited saying "Segmentation fault (core dumped)". I have also tried with simple examples from the internet with haar cascade classifiers and an Eig

[2022-09-12 08:55] asmorkalov commented on #728
Could you provide small reproducer with few lines to highlight the issue with all input data. Images and models from samples may be used.

[2022-09-12 08:57] asmorkalov commented on #727
@mark-77 Have you resolved the linkage issue? May I close the ticket?

[2022-09-12 10:25] mark-77 commented on #727
Good morning,

I didn't try the method suggested by skvark (Dependency walker) but I was able to make it work using a different python version (3.6.8). Oddly enough with that version everything works fine and it doesn't complain about missing DLL.
asmorkalov, you can close the ticket if you want. When I ll have a minute I'll try the method suggested by Skvark with python  3.9.13 and in case I'll r

[2022-09-12 10:59] asmorkalov commented on #727
You issue with dll resolution is most probably caused by this change: https://docs.python.org/3/whatsnew/3.8.html#bpo-36085-whatsnew. You have to follow new guidelines to update python then.

[2022-09-12 10:59] #727 closed, assigned to skvark

[2022-09-12 16:26] likehengqq opened #729 "Could not find the Qt platform plugin "wayland" in opencv path"
### Expected behaviour

Write here how did you expect the library to function.

### Actual behaviour

Write here what went wrong.
[code]

### Steps to reproduce

- example code
[code]

- operating system: ubuntu 20.04
- architecture (e.g. x86):  aarch64
- opencv-python version: opencv_python-4.5.1.48-cp39-cp39

##### Issue submission checklist

 - [ ] This is not a generic OpenCV usage question (l

[2022-09-12 21:21] rajkundu commented on #207
If you are using conda, uninstalling OpenCV through `pip` and instead using `conda install -c conda-forge opencv` worked for me! I can run `cv2.VideoWriter('out.mp4', cv2.VideoWriter_fourcc(*'avc1'), FPS, (WIDTH, HEIGHT))` without issues.

[2022-09-13 04:43] sergi0g commented on #728
After some debugging I have come to the conclusion that the code that makes the program stop is
[code]
I can use all other opencv functions perfectly well. It must be a problem with the contrib package and not the standard one. I am using a photo of me saved in pgm format by opencv. I don't think this is an opencv bug, because I have used the same code successfully in the past. I am trying this co

[2022-09-13 09:05] ehdrndd commented on #727
I think window OS version is also has dependencies.. I success in 10.0.17 ~ 10.0.19, but 10.0.22 I fail...

check., cmd's command 'ver'

[2022-09-14 02:20] dhaval-khatri1996 commented on #723
@asmorkalov any updates my friend?

[2022-09-14 06:14] asmorkalov commented on #723
Not yet for now. Please switch to legacy camera mode as work around till the issue is not fixed on our side.

[2022-09-14 13:27] mark-77 commented on #727
Thank you very much asmorkalov for your precious suggestion!

I just had to add these 3 lines of code to the python file importing cv2 and everything works as expected.

[code]

cheers!

[2022-09-14 17:27] dhaval-khatri1996 commented on #723
@asmorkalov same output with legacy camera mode enabled/disabled.

I doubt if I can help but let me know if I can do anything to help.

[2022-09-14 17:29] dhaval-khatri1996 commented on #723
I am using Raspberry pi using xrdp and remote desktop.

[2022-09-22 04:24] dhaval-khatri1996 commented on #723
@asmorkalov any updates or idea what the issue is my friend? Any workaround I could use for time being as legacy mode won't work either?

[2022-09-23 11:07] samfux84 opened #731 "Building opencv-python 4.6.0.66 based on an existing OpenCV 4.6.0 installation with CUDA support"
### Expected behaviour

module load gcc/8.2.0 opencv/4.6.0 python_gpu/3.10.4

pip install --user --upgrade --no-binary :all: opencv_python==4.6.0.66

Should build opencv-python using the provided opencv/4.6.0 installation that is compiled with GPU support

### Actual behaviour

I have no idea what is actually happening and why the Python bindings for my OpenCV 4.6.0 are not built. I have all pytho

[2022-09-23 11:21] samfux84 commented on #731
I tried to run the same pip command, adding the option --no-deps

[code]

but still opencv-python tries again to build numerous Python packages that it is not supposed to build:
[code]

I am just interested in building the Python bindings to my OpenCV 4.6.0 installation.

[2022-09-23 12:09] samfux84 commented on #731
Is it possible to build an opencv-python wheel based on an existing OpenCV 4.6.0 installation?

[2022-09-23 17:34] mfatih7 commented on #534
hello @asmorkalov

Do you have any updates for USAC OpenCV implementation for windows?

In my study, I want to use both RANSAC and USAC implementations.

best regards

[2022-09-25 05:47] FrostBird347 commented on #657
I also experience this issue when installing `opencv-contrib-python-headless` in both python 3.10 and python 3.8 on macOS Mojave.

[2022-09-25 10:07] asmorkalov commented on #534
Hello @mfatih7 We have some build issues with LAPACK and binaries distribution for now. Unfortunately I cannot guarantee that it'll be fixed before the next release.

[2022-09-25 10:39] asmorkalov commented on #731
1. No, OpenCV cannot build only bindings on top of existing OpenCV installation. Together only.
2. Your process fails on cmake tool build: "ERROR: Could not build wheels for cmake, which is required to install pyproject.toml-based projects". --no-binary :all:  forces to build it too. I recomment you to install dependnecies without this option and build OpenCV then.

[2022-09-26 12:28] samfux84 commented on #731
@asmorkalov Thank you for your reply.

Unfortunately the OpenCV documentation does not state how to build an opencv-python wheel:

https://docs.opencv.org/4.6.0/d7/d9f/tutorial_linux_install.html
https://docs.opencv.org/4.6.0/d0/d3d/tutorial_general_install.html
https://docs.opencv.org/4.6.0/db/d05/tutorial_config_reference.html

Is the only way to get a opencv-python wheel to build opencv with th

[2022-09-26 12:43] asmorkalov commented on #322
There we couple of bug fixes for FPS and mote accurate timestamps reporting for FFMpeg backend. Could you try the last OpenCV build from 4.x or OpenCV rolling 4.x release and report status update. Small video track to reproduce the issue could help too.
See https://github.com/opencv/opencv/pull/22145

[2022-09-26 12:58] asmorkalov commented on #731
Python Wheel specific things, docs and scripts are located in https://github.com/opencv/opencv-python. You can just install dependences as usual binary wheels and then build OpenCV as you tried before. It should be enough to get what you want.

[2022-09-26 13:13] samfux84 commented on #731
Thank you for your reply.

I got a request from one of our cluster users that he would like to use opencv-python with GPU support and through pip I can only install (precompiled) CPU builds of opencv-python. Therefore I think that I need to build from sources and cannot use any of the precompiled wheels.

Do I understand right that for this use case, I need to build OpenCV with CUDA through opencv

[2022-09-26 14:55] asmorkalov commented on #731
OpenCV-Python bindings are located in main repository. The OpenCV-Python repo contains CI scripts, meta data and other things to build wheel package that is managed by pip and Pypi infra.
1. You can build fully featured wheel from this repo even with CUDA. But you have to install the binaries with the same CUDA version everywhere. The package will be visible to pip and all dependencies are handled

[2022-09-26 17:27] Miniontoby opened #732 "Failed to install opencv-python on termux"
### Expected behaviour

A working installation using `pip install opencv-python`

### Actual behaviour

Failed to install at cmake

### Steps to reproduce

- example code: Not needed
- operating system: Termux on Android
- architecture (e.g. x86): armv7l
- opencv-python version: latest

##### Issue submission checklist

 - [x] This is not a generic OpenCV usage question (looking for help for codin

[2022-09-27 07:50] samfux84 commented on #731
@asmorkalov Thank you for the clarification. I just have a last question:

Do I understand it correctly, that with the second option (build OpenCV from the main repository), I can install the package but not build a wheel. Building a wheel only works with the first approach where I build OpenCV through pip and have to specify all CMake variables in an environment variable $CMAKE_ARGS ?

[2022-09-27 07:55] asmorkalov commented on #731
Yes.

[2022-09-27 07:56] asmorkalov commented on #732
Could you bring more details, logs, etc?

[2022-09-27 07:56] #731 closed, assigned to asmorkalov

[2022-09-27 13:05] asmorkalov commented on #724
Closed as abandoned.

[2022-09-27 13:05] #724 closed, assigned to nobody

[2022-09-27 16:17] homm commented on #612
Still fails to install:

[code]

numpy==1.14.5 is installed during installation.

[2022-09-27 16:55] Miniontoby commented on #732
I would love to, but all the lines of logs are in 1 line without
breaklines...

Also idk how to easily copy to my laptop or my new phone

Op di 27 sep. 2022 09:56 schreef Alexander Smorkalov <
***@***.***>:

[2022-09-29 12:55] KaranParekh11 commented on #729
i also have same problem with latest version of opencv-python.If any one was able to solve this issue please reply here.

[2022-09-29 17:06] Miniontoby commented on #732
The logs are the same as at [this issue](https://github.com/scikit-build/cmake-python-distributions/issues/223#issuecomment-1207201766) at the comment of "RSwarnkar"

[2022-09-30 06:32] asmorkalov commented on #732
The issue is related to CMake tool, but not OpenCV. It fails to build with libarchive. At least it's what I see from logs in the related ticket. There is nothing to fix in OpenCV for now.
As hack or workaround you can do the following:
- Install cmake from bre-built archive / package manager / build from sources with limited options.
- Hack OpenCV-Python package and exclude cmake package from depe

[2022-09-30 06:59] mingardiluca opened #733 "Keep background fixed"
I have checked all available tutorials of watershed segmentation with opencv (e.g. https://docs.opencv.org/4.x/d3/db4/tutorial_py_watershed.html) and the usual pipeline is:
1) define sure foreground
2) define sure background
3) define unknown region as the area that is neither foreground or background
4) set markers to run watershed algorithm (label 0 for unknown, label 1 for background and labels

[2022-10-01 15:06] Miniontoby commented on #732
Can you tell me how to 'hack' opencv-python to exclude the cmake package?

I know a lot, but cannot figure this one out yet

EDIT: I think i did it, but still it failed. Here is the logs: https://termbin.com/1gm1

[2022-10-03 07:27] asmorkalov commented on #733
The GIthub tacker is used for issues. Please use https://forum.opencv.org for questions.

[2022-10-04 04:41] LotfiT opened #734 "Failed to build opencv for a specific version of python (3.7)"
Hi,
I am trying to install opencv for python3.7 on an ARM 32bit processor (FPGA board). I tried to install it with `python3.7 -m pip install opencv-python`, I updated `pip` but the system failed to build it.

Hence, I tried to build it from scratch following the cross compilation for ARM based Linux systems tutorial [https://docs.opencv.org/4.x/d0/d76/tutorial_arm_crosscompile_with_cmake.html](url

[2022-10-05 18:58] Bonitodelcapo commented on #657
(MD) (base) MacBook-Air-di-Gianluca:GUI Gianluca$ python3 --version
Python 3.7.6
(MD) (base) MacBook-Air-di-Gianluca:GUI Gianluca$ pip3 --version
pip 22.2.2 from /Users/Gianluca/PycharmProjects/untitled/kivyMD/MD/lib/python3.7/site-packages/pip (python 3.7)
(MD) (base) MacBook-Air-di-Gianluca:GUI Gianluca$ pip install opencv-contrib-python
Collecting opencv-contrib-python
  Downloading opencv-cont

[2022-10-08 20:56] prensing opened #735 "Segmentation fault when using aruco.DetectorParameters"
### Expected behaviour

I am not sure if I am just doing something wrong, but I definitely don't expect a seg fault.

I have install opencv-contrib-python version 4.6.0.66 from the pip wheel. I then try this:
[code]

This is in Linux Mint 21.
python 3.10

### Actual behaviour
[code]

### Steps to reproduce

OS: LInux 64-bit, Linux Mint
Python 3.10
opencv-contrib-python installed from PyPi

Any acc

[2022-10-10 03:37] arif-pens77 commented on #734
I successfully install opencv for python3.7 on armv7l.
Try the following instruction:
1. Download the opencv whl file:
wget https://www.piwheels.org/simple/opencv-python/opencv_python-4.6.0.66-cp37-cp37m-linux_armv7l.whl#sha256=70e5f777be8b2027e6667f840e64db82255461085eb7b81b5052416925ed3038

2. Install the opencv whl file
sudo pip install opencv_python-4.6.0.66-cp37-cp37m-linux_armv7l.whl

4. Ins

[2022-10-10 06:47] asmorkalov commented on #734
In case if you have more than one version of python you can set CMake option `PYTHON3_EXECUTABLE` with path to particular python executable. It detects all pythonic dependencies relatively to python interpreter.

[2022-10-10 06:47] #734 closed, assigned to nobody

[2022-10-10 12:16] hitbuyi commented on #729
I have the same problem for opencv-python 4.5.x,4.6.x, the error message is
[code]

**My environments are**
OS: ubuntu20.04
Conda: 4.43
python: 3.9
opencv-python: 4.5.x,4.6.x

Any progress in this issue?

[2022-10-10 21:13] kevinlinxc commented on #676
This issue is also bothering me

[2022-10-11 05:43] dhaval-khatri1996 commented on #723
@asmorkalov got some news/updates? Maybe even details of what is going on?

[2022-10-11 07:53] dhaval-khatri1996 commented on #723
@asmorkalov please some kind of update would be good, thank you for your time

[2022-10-12 07:01] Interpause commented on #648
Can the fix be backported to 4.5?

[2022-10-12 08:04] AleksandrPanov commented on #735
@prensing, use static create method: `x = cv2.aruco.DetectorParameters_create()`
this will fix your problem

[2022-10-12 08:58] hitbuyi opened #736 "Any plan to solve conflicts betwen opencv-python and PyQt5"
Many people found the Opencv-python  of version > 4.4.x conflicts with PyQt5,such as #386,  #404 and #427 ,the solutions of this problem are

1, choose low version of opencv-python( I choose opencv-python 4.1.2.30 to solve this problem)
2, choose opencv-python-headless

However, if I have to use opencv-python  4.6.x, and must include image display UI(that means opencv-python-headless isn't proper

[2022-10-12 20:18] ZWMiller opened #737 "Pipenv Install unable to install opencv-python"
### Expected behaviour

My Pipfile is here:

[code]

If I run `pipenv shell`, I successfully create a virtual env. When I then run `pipenv install` I expect that pipenv will create a Pipfile.lock and install opencv-python alongside all dependencies.

### Actual behaviour

Running `pipenv install --verbose` generates:

[code]

with a failure to install

### Steps to reproduce

Pipfile above is show

[2022-10-12 20:52] ZWMiller commented on #737
Additional context - if I set the Pipfile to have:

[code]

And run with `pipenv install --skip-lock` to try to rule out problems with the newest version/the locking, I still have an installation failure, but with additional information:

[code]

[2022-10-12 21:47] prensing commented on #735
Thanks. That does seem to fix the problem. May I suggest that you add a bit to the documentation? At least from Python, there is no way to tell that the "constructor" does not actually produce a valid instance.

Thanks for the support!!

[2022-10-13 08:12] #735 closed, assigned to AleksandrPanov

[2022-10-13 08:36] asmorkalov commented on #737
`ModuleNotFoundError: No module named 'skbuild'`. You need to install it beforehand.

[2022-10-13 08:45] skvark commented on #737
For some reason, `pipenv` does not seem to honor the `pyproject.toml` that defines the build requirements since you seem to be building `opencv-python` from sources. This is usually caused by too old `pip` as explained in the FAQ:

Please double-check your environment, unless you are explicitly trying to build `opencv-python` from the sources.

[2022-10-13 09:51] tranhuutritran commented on #498
help me.  when I enter ID:b123 will get such error.  Please help

[2022-10-13 14:23] ZWMiller commented on #737
Hi there. Thanks for getting back to me.

I had started to type up a bunch of questions on this, as my pip is a new version 22.2.2 and the dependency management should take care of skbuild - but then I reran the EXACT same code from yesterday in the EXACT same environment - and it just installed perfectly with no fanfare.

I have no idea why it was breaking yesterday, but it seems to be back to no

[2022-10-13 14:23] #737 closed, assigned to nobody

[2022-10-13 14:47] adarmawan117 commented on #721
Read this : https://youtrack.jetbrains.com/issue/PY-35691/Code-completion-doesnt-work-for-cv2-module#focus=Comments-27-5402199.0-0

And this is the current sollution i have been try : https://youtrack.jetbrains.com/issue/PY-35691/Code-completion-doesnt-work-for-cv2-module#focus=Comments-27-6426279.0-0. And its work

[2022-10-16 09:37] dhaval-khatri1996 opened #738 "[bug] cam.isOpened() returns true, but cam.read() returns (false, None)"
openCv python version 4.5.5 (using it with VNC)
Camera module waveshare OV9281-110
I am working with raspberry-pi model 4-B with latest bullseye OS.

I am able to capture image using **libcamera-still -o test.png --qt-preview** command but when I try to read an image with opencv it returns None.
The output for cam.isOpened() is true but cam.grab() and cam.read() return false and (false,None) respe

[2022-10-16 10:41] dhaval-khatri1996 commented on #723
@asmorkalov I really need some update, its been 1.5 months. I am missing my project deadline by a long long shot.

[2022-10-16 10:42] dhaval-khatri1996 commented on #723
@asmorkalov ????

[2022-10-16 20:22] dhaval-khatri1996 commented on #723
@asmorkalov I think I found the issue. So as I was unable to use opencv, I tried to use libcamera code directly. On using that code I realized that it is picking up wrong image format. For example in my case the image format is supposed YUYV but for some reason the libcamera code was taking NV12 as the format and hence when the code tried to convert the captured buffer frame to actual image it wou

[2022-10-17 00:40] likehengqq commented on #729
You can try lowering the Python version.

[2022-10-17 06:07] asmorkalov commented on #723
I found the same behaviour. Trying to fix the issue to have cv::VideoCapture usable without tricks.

[2022-10-17 13:47] asmorkalov commented on #738
https://github.com/opencv/opencv-python/issues/719

[2022-10-17 13:57] #738 closed, assigned to nobody

[2022-10-19 14:22] ghost opened #739 "ImportError: OpenCV loader: missing configuration file: ['config-3.9.py', 'config-3.py']. Check OpenCV installation."
When I importing OpenCV in anywhere with Anaconda on my server it didn't imports, it gives
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.8/site-packages/cv2/__init__.py", line 181, in <module>
    bootstrap()
  File "/usr/local/lib/python3.8/site-packages/cv2/__init__.py", line 112, in bootstrap
    load_first_config([
  File "/usr/local/li

[2022-10-19 21:05] alalek commented on #739
How do you manage this location?
Look like it hijacks your virtual/conda environment.

[2022-10-20 10:12] alexTitakoff commented on #657
some problem

[2022-10-20 14:10] ghost commented on #739
I solved the problem with checking .bashrc. PYTHONPATH is described wrong (it described Python 3.8's site-packages path), when i uncommented, it works correctly. Thanks for advice @alalek .

[2022-10-20 14:10] #739 closed, assigned to nobody

[2022-10-24 05:36] KangChou opened #740 "When to release OpenCV 5. x ？"
### Expected behaviour

Write here how did you expect the library to function.

### Actual behaviour

Write here what went wrong.

### Steps to reproduce

- example code
- operating system
- architecture (e.g. x86)
- opencv-python version

##### Issue submission checklist

 - [ ] This is not a generic OpenCV usage question (looking for help for coding, other usage questions, homework etc.)

 - [ ]

[2022-10-24 05:39] KangChou commented on #740
https://github.com/opencv/opencv/issues/22669

[2022-10-24 14:18] ninyawee commented on #591
I worked on a [Nvidia Jetson container](https://catalog.ngc.nvidia.com/orgs/nvidia/containers/l4t-pytorch). There might be already cv2 beforehand. You could check with `import cv2`. and see if there is an error.

After I undo the installation of `opencv-python`. Things works again.

[2022-10-26 11:16] Stefanotuv commented on #723
@asmorkalov just googled every possible angle of internet and expect moving back to legacy camera no other solution seems to exist

VideoCapture(0), VideoCapture(-1), VideoCapture('/dev/video0', cv2.CAP_V4L) etc simply lead to the same error related to the empty frame/image.

[2022-10-26 11:20] asmorkalov commented on #723
Please ensure that you completely switched back to legacy solution and reboot the system. Legacy version worked for me with several devices.

[2022-10-26 12:08] Stefanotuv commented on #723
@asmorkalov the issue is that the rest of code works with picamera2... so it would stop working, thats why i am stuck on try to see what a solution or work around can be

[2022-10-27 08:43] mmeendez8 opened #741 "Error on cv2.circle with "same" input arrays"
### Expected behaviour

Opencv circle works with numpy arrays with same shape and dtype.

### Actual behaviour

Depending on array creation method (probably related with numpy internals) opencv.circle() returns an error

### Steps to reproduce

- example code
[code]

- operating system
Ubuntu 20.04.3 LTS

- architecture (e.g. x86)
x86_64

- opencv-python version
opencv-python                     4

[2022-10-27 08:48] mmeendez8 commented on #741
Just found that this can be solved by passing a contiguous array as:

[code]

Nevertheless this is exposing numpy internals to users... not sure if these cases should be controlled by opencv

[2022-10-31 11:34] bkaan99 commented on #18
Solve: Unistall opencv-python-headless

[2022-10-31 23:34] bengabp commented on #729
Hello guys,please I need help about this. I am getting same error here also and its not allowing video stream to continue.

`qt.qpa.plugin: Could not find the Qt platform plugin "wayland" in "/home/bengab/venv/lib/python3.10/site-packages/cv2/qt/plugins`

![image](https://user-images.githubusercontent.com/84660669/199128862-567f6788-a188-4bb6-a254-90355ed39f4c.png)

@likehengqq I have also tried d

[2022-11-01 12:39] bengabp commented on #729
Guys the error shows but it still works. It shows like some kind of warning and it does not prevent my program from running. But when I use ffpyplayer to also read audio the error shows but this time it will not allow my program to run further.

Please what is the cause of this strange behavior?

[2022-11-02 09:09] senovr opened #742 "[Question] Building wheel with GPU support on Windows"
Hi,
I have an issue when trying to build pip wheel with GPU support on windows.
System configuration:
Windows 10
Visual Studio 2022 Community edition
Cmake 3.25.0-rc3
CUDA 11.7
CUDNN 8.6
python 3.10.7

Steps to reproduce:
[code]

### Actual behaviour
It starts to install packages and fails with the following traceback:

#first, it warns that ignoring installed numpy
[code]

# after that, it fails

[2022-11-02 09:23] skvark commented on #742
The numpy version in the pyproject.toml seems to be too old. 1.21.2 does not have Windows wheels, so pip tries to build from sources and fails.

You can set the version to 1.21.3 in pyproject.toml:

https://github.com/opencv/opencv-python/blob/37258984cf4b7ba64da84c0fb8d2fc326173e505/pyproject.toml#L11

[2022-11-02 10:35] Mubashir-alam commented on #690
I solved the following error as.
`cap=cv2.VideoCapture()` I did not define the image/video path or forgot (0) in cv2.VideoCapture(0).
`cap=cv2.VideoCapture(0)`

[2022-11-02 10:50] senovr commented on #742
@skvark , thanks for the prompt reply!
It installs successfully, but fails during build:
[code]
Apparently, there is no /numpy/ndarrayobject.h in opencv-python\opencv\modules\python\src2\
Is this due to fact that I am using .venv?

Edit:
I also tried to install numpy separately into .venv with:
`pip install numpy==1.21.3 # the same version as in modified .toml`
and now I have ndarrayobject.h in .v

[2022-11-02 11:31] skvark commented on #742
I think it's okay to keep it here since there is an outdated dependency in the pyproject.toml which is a bug.

Try running the `pip wheel . --verbose` without venv with the modified pyproject.toml. Pip will install the build time dependencies into a temporary location so venv should not be needed.

[2022-11-02 12:11] senovr commented on #742
I tried running pip wheel without activating .venv
packagers included in system python:
[code]
pip wheel . --verbose still fails with the same error.
[code]

Intrestingly enough, in section  General configuration for OpenCV 4.6.0

I do have a path to numpy core...

[code]

[2022-11-02 12:29] skvark commented on #742
Try to remove the `_skbuild` directory and try again. There might be some cached value in there from previous runs. The numpy location is detected correctly so if that does not help I have no idea why the header is not found.

[2022-11-02 14:02] senovr commented on #742
@skvark
After removing the skbuild directory, wheel has been build successfully.
Meanwhile, I noticed some other issue:
in final cmake command, I had the following output:
[code]

No any args (like  `-DWITH_CUDA=ON` ) I set earlier...
Apparently, .whl that was build has no GPU capability (confirmed with simple test script)

Edit:
It seems when using git bash as CLI tool in windows, "set" doesn't

[2022-11-04 16:49] hamdimina opened #743 "VideoCapture() takes no arguments"
[code]
**### #But i get this problem**

File "C:\Users\achre\PycharmProjects\OpenCVExamples\main.py", line 3, in <module>
    cap=cv2.VideoCapture("video/elyza.mp4")
TypeError: VideoCapture() takes no arguments

[2022-11-06 07:50] senovr commented on #742
@skvark  - after removing skbuild directory, I have successfully build a custom wheel. Probably the final question from my side- the build itself is substantionnaly slow, due to utilizing only one core of the cpu. What are the args ( similar to make --j8) to utilize all the cores during build on windows?

[2022-11-08 10:11] skvark commented on #742
I think CMake / OpenCV should use all available cores by default. Try to use Powershell or the command line, I think Git Bash might have something to do with that issue as well.

You can however try to add the -DCMAKE_CXX_FLAGS=/MP flag if you must use Git Bash for some reason.

[2022-11-08 13:03] senovr commented on #742
@skvark , Thank you so much! I am closing this issue.

[2022-11-08 13:03] #742 closed, assigned to nobody

[2022-11-10 18:07] HirunaVishwamith commented on #743
Put the video that you want to open in the same folder that the python files located at. If you using an IDE make sure that your current working directory is your project folder then run this code.

[code]
hear "gg.mkv" is the file name of the video file.

![image_2022-11-10_234104737](https://user-images.githubusercontent.com/69134587/201173790-9ae5a4cd-5a0e-4936-aad0-4561a7d71c7d.png)

[2022-11-11 18:29] Maaitrayo commented on #743
Try to use the entire path of the video file and not the relative path. it should be like... <Drive_name>/<folder_1>/<folder_2>/.../<video.mp4>

[2022-11-12 14:45] WillRocha-GuiHub opened #745 "Error when importing opencv version 4.6.0.66"
### Expected behaviour

Library options not showing.

### Steps to reproduce

- Image print below
- Windows 11
- architecture (64 bits)
- opencv-python version: 4.6.0.66
![Sem título](https://user-images.githubusercontent.com/99710787/201479518-2091c456-e8b3-4b8f-87c9-f0acb2fa9144.png)

[2022-11-14 06:03] Indekkusu545 commented on #745
#676

[2022-11-14 16:04] molcik commented on #657
Same here on raspberry pi. I tried with earlier versions until I got it installed.

`opencv-contrib-python==4.5.3.56`

worked for me.

[2022-11-17 07:36] asmorkalov commented on #743
Please ensure that you use proper OpenCv version with cv2.getBuildInformation() call. See https://docs.opencv.org/4.x/db/de0/group__core__utils.html#ga0ae377100bc03ce22322926bba7fdbb5

[2022-11-17 07:39] asmorkalov commented on #741
OpenCV uses numpy arrays instead of cv::Mat in Python, but does not support array-like objects and iterators as they cannot be easily passed to C++ function as a parameter. So it's expected behavior. You can check it by printing of `a[..., 0]` object type.

[2022-11-17 07:40] #733 closed, assigned to nobody

[2022-11-17 07:43] asmorkalov commented on #736
OpenCV uses QT as imshow backend on some platforms. QT is linked to C++ code and distributed with OpenCV. There is no simple solution to share the same QT object between PyQT and OpenCV. I cannot recommend you something scalable. In case if you manage full setup, you can try to rebuild OpenCV with other backend like GTK on Linux.

[2022-11-17 07:48] asmorkalov commented on #729
OpenCV distributes own instance of QT to facilitate imshow and some other UI functions. Own QT built is done without wayland support: https://github.com/opencv/opencv-python/blob/4.x/docker/manylinux2014/Dockerfile_x86_64#L59. I'll take a look if we can add this option to the package for the next release.

[2022-11-17 07:49] #740 closed, assigned to nobody

[2022-11-17 07:55] asmorkalov commented on #719
Duplicate: https://github.com/opencv/opencv/issues/22820

[2022-11-17 07:55] #719 closed, assigned to asmorkalov

[2022-11-17 10:30] asmorkalov commented on #741
https://github.com/opencv/opencv/pull/22822

[2022-11-19 14:57] OmarAshkar opened #746 "Segmentation fault with large image on kmeans"
### Expected behaviour

I expect when I run cv2.kmeans() to run and give the labels.

### Actual behaviour

Running on cv2.kmeans() on large image (38482, 44999, 3)  gives me "python: Segmentation fault (core dumped)" error.

It runs fine if the image is cropped to a small size.

### Steps to reproduce
- load a (38482, 44999, 3) (I used tifffle for loading for specific .svs extension)
- reshape th

[2022-11-20 03:36] WillRocha-GuiHub commented on #745
Sorted out. Thank you very Much!

[2022-11-20 03:36] #745 closed, assigned to nobody

[2022-11-20 03:42] raymondlo84 opened #747 "OpenCV failed to open webcam on macOS 13.0"
The video capture seems to be not working. It can be reproduced with this sample code on the Macbook 16 inch 2019 (Intel processor).

https://www.geeksforgeeks.org/python-opencv-capture-video-from-camera/

[code]

[2022-11-20 03:45] raymondlo84 commented on #747
Also validated this with Python 3.9, and it seems not Python version related.

[code]

[2022-11-20 08:01] raymondlo84 commented on #747
Problem is resolved by formatting the machine, and it seems to be related to the new iPhone as a webcam feature.

Also, the first frame of the image is corrupted, so we need to workaround making sure ret is not 0.
<img width="1792" alt="Screenshot 2022-11-19 at 11 57 09 PM" src="https://user-images.githubusercontent.com/1720147/202891860-08c9f01b-b60d-4090-96a7-2ca585c8aeba.png">

[code]

[2022-11-20 08:01] #747 closed, assigned to nobody

[2022-11-21 05:44] brmarkus commented on #747
Nice!

[2022-11-22 07:38] asmorkalov commented on #746
Image with size (38482, 44999, 3) is larger than 2GB. Unfortunately, OpenCV uses `int` type in most of algorithms and containers.

[2022-11-22 07:48] #743 closed, assigned to nobody

[2022-11-24 11:09] OPStellar commented on #657
It might have to do with Mojave messing with CMake. I've never gotten CMake to work since upgrading, but I also only started using it once Homebrew stopped supporting Mojave, so…

Another thing it's doing is launching Git (application) every time I run the installation in Terminal.

I have GNU Make 3.81

[2022-11-26 15:27] inamorom commented on #591
using cv2 on vscode i was having this problem but nothing worked. Turns out that i named my file as "cv2.py" so it was importing itself

"Generally, the Python Circular Import problem occurs when you accidentally name your working file the same as the module name and those modules depend on each other. This way the python opens the same file which causes a circular loop and eventually throws an er

[2022-11-26 23:04] virtuald commented on #676
The best way to fix autocomplete for a compiled package is to distribute a `pyi` type stubs file with the package. Then autocomplete could work on just `cv2` instead of using the hack that you used previously.

It's possible that type stubs could be generated automatically by mypy's stubgen module.

[2022-11-27 23:39] ignaciots commented on #657
None of the solutions work for opencv-python 4.5 in Mac OS El Capitan (10.11.6).... I'm stuck with this OS

[2022-11-28 07:44] mozeqiu opened #748 "How to decode rtsp video stream of h265 in opencv python"
I will use opencv python in Ubuntu 20.04. My ffmpeg can decode the h265 video stream. How do I decode the h265 video stream in python code to play it

[2022-11-28 08:35] asmorkalov commented on #676
There is activity on type stubs generation for OpenCV, but it's frozen today: they guys are very busy with main job: https://github.com/opencv/opencv/pull/20370

[2022-11-28 09:50] asmorkalov commented on #748
OpenCV does not implement codecs by itself, but uses some other library as a backend, e.g. FFmpeg. I'm checking if FFmpeg build distributed with OpenCV has HEVC decoder enabled.

[2022-11-28 11:01] decadenza commented on #585
Any update? Maybe fallback on different open source icons to have an usable OpenCV window?
Anyone is able to indicate the path where the icons are expected to be? Cheers

[2022-11-29 04:23] aruiplex opened #749 "AttributeError: partially initialized module 'cv2' has no attribute 'gapi_wip_gst_GStreamerPipeline' (most likely due to a circular import)"
### Expected behaviour

`cv2` could be successfully imported.

### Actual behaviour

After I install the `opencv-python` or `opencv-python-headless`, I import `cv2`, it will raise a exception:

`AttributeError: partially initialized module 'cv2' has no attribute 'gapi_wip_gst_GStreamerPipeline' (most likely due to a circular import)`

### Steps to reproduce

OS: ubuntu22.04 in docker.
opencv-versi

[2022-11-29 13:19] ruveydayilmaz0 opened #750 "Error while building on Windows"
Hello,

I have been trying to build the latest version for Windows. I perform the following steps:
[code]
But I get the following CMake Error. I have no idea how to solve it. Can you please help me?

[code]

[2022-11-29 13:30] alalek commented on #750
"TryCompile" are just checks about used build environment.

BTW, There is no real error message in the provided log.

[2022-11-29 13:45] asmorkalov commented on #585
https://github.com/opencv/opencv/pull/22885

[2022-11-29 14:14] ruveydayilmaz0 commented on #750
I actually get these errors on Powershell:

  CMake Error at C:/Users/dagru/AppData/Local/Temp/pip-build-env-85_cmvjw/overlay/Lib/site-packages/cmake/data/share/cmake-3.25/Modules/CheckTypeSize.cmake:147 (try_compile):
    Cannot copy output executable '' to destination specified by COPY_FILE:
'C:/Users/dagru/Desktop/work/a/opencv-python/_skbuild/win-amd64-3.9/cmake-build/CMakeFiles/CheckTypeSize/

[2022-11-29 15:04] asmorkalov commented on #748
The FFmpeg version that is distributed with OpenCV-Python supports hevc. It's in list of supported codecs. Could you provide more information about the stream? We are looking on FFmpeg update for the next release as option.

[2022-11-29 21:21] #750 closed, assigned to nobody

[2022-11-29 23:20] alalek commented on #750
see this issue: https://github.com/opencv/opencv/issues/22784

Try to downgrade CMake (or wait for [3.25.1](https://gitlab.kitware.com/cmake/cmake/-/merge_requests/7948)).

[2022-11-30 02:14] mozeqiu commented on #748
I use the rtsp h265 code stream of the webcam, the codec: MPEG-H part2/HEVC (h265) (hevc), and the resolution: 1280 * 720.I want to implement this decoding on the arm board

[2022-11-30 08:00] asmorkalov commented on #741
Ok. I tested the PR and debugged the issue. OpenCV `cv::Mat` and `cv::Umat` support per-row step, but not per-element step. It means that elements in a row should be compact without holes. `a[..., 0]` creates array with per-element step. This memory layout cannnot be converted to `cv::Mat` automatically and the only solution is data copy. It could be achieved with `np.ascontiguousarray(a[..., 0])`

[2022-11-30 08:00] #741 closed, assigned to nobody